<app-header></app-header>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
  <app-menu *ngIf="canShowMenu"></app-menu>
  <p-panel>
    <p-header>
      <div class="ui-g panel-header">
        <div class="ui-g-4 dashboard">Notification PopUp</div>
      </div>
    </p-header>
    <p-toast position="top-center" key="t-err"></p-toast>
    <!-- <p-toast *ngIf="noti" position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
      <ng-template let-message pTemplate="message">
        <div style="text-align: center">
          <img class="PB-img" src="../../assets/layout/images/NotificationPopup/HappyNewYear.jpg"
            style="height: 50px;" />
          <h3>{{message.summary}}</h3>
          <p>{{message.detail}}</p>
        </div>
      </ng-template>
    </p-toast> -->
    <div class="ui-g">
      <div class="ui-g-12 ui-md-3">
        <label class="ui-g label-fontsize-large">Notes</label>
        <textarea class="icon2" [rows]="4" [cols]="60" [(ngModel)]="Notes" pInputTextarea
          autoResize="autoResize"></textarea>
      </div>
      <div class="ui-g-12 ui-md-2">
        <label class="ui-g label-fontsize-large">Reason</label>
        <textarea class="icon2" [rows]="1" [cols]="60" [(ngModel)]="Reason" pInputTextarea
          autoResize="autoResize"></textarea>
      </div>

      <!-- <button type="button" pButton (click)="showConfirm()" label="Confirm" class="ui-button-warning"></button> -->

      <!-- <input type="file" (change)="onFileselected($event)">
      <button pButton type="button" (click)="onUp()" label=uploadit></button>


       <div class="ui-g-12 ui-md-5" style="padding-top: 23px;">
        <img height="100px" width="100px" >
        <input type="file" (change)="fileChange($event)" url="../../assets/layout/images/NotificationPopup/Image.png" accept=".png, .jpg, .jpeg">
      </div> -->

      <!-- <div class="ui-g-12 ui-md-5" style="padding-top: 23px;">
        <p-fileUpload #imageInput type="file" name="uploadedFiles"
         url="../../assets/layout/images/NotificationPopup/Image.jpg" (change)="onUpload($event)"
          multiple="multiple" accept=".png, .jpg, .jpeg" maxFileSize="1000000">
          <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
            </ul>
          </ng-template>
        </p-fileUpload>
      </div> -->
      <div class="ui-g-12 ui-md-1 ui-fluid" style="padding-top: 23px;">
        <button pButton type="button" (click)="onView()" label=View></button>
      </div>
      <div class="ui-g-12 ui-md-1 ui-fluid" style="padding-top: 23px;">
        <button pButton type="button" (click)="onSubmit()" [disabled]="(!Notes || !Reason)" label=Submit></button>
      </div>

      <!-- <p-fileUpload name="uploadedFiles[]" src="../../assets/layout/images/NotificationPopup/Image.jpg"
        (onUpload)="onUpload($event)" multiple="multiple" accept=".jpg" [(ngModel)]="Image" maxFileSize="1000000">
        <ng-template pTemplate="content">
          <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
          </ul>
        </ng-template>
      </p-fileUpload>
      <input #fileSelector id="my-file-selector" src="../../assets/layout/images/NotificationPopup/Image.jpg"
        type="file" (change)="onUpload($event)" accept=".jpg"> -->

      <div class="ui-g-12 dashboard">
        <p-table [columns]="NotificationsCols" [value]="NotificationsData" [loading]="loading" selectionMode="single"
          [responsive]="true" autoLayout="true" (onRowSelect)="onRowSelect($event)">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <!-- <p-fileUpload name="demo[]" url=".\src\assets\layout\images\NotificationPopup\Image.jpg" (onUpload)="onUpload($event)" multiple="multiple"
            accept="image/*" maxFileSize="1000000">
            <ng-template pTemplate="content">
              <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let col of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
              </ul>
            </ng-template>
          </p-fileUpload> -->
          <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData" (dblclick)="showSelectedData($event, rowData)">
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-panel>
</div>

<p-dialog *ngIf="noti" [(visible)]="tr" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}"
  [minY]="70" [maximizable]="true" [baseZIndex]="10000">
  <ng-template pTemplate="content">
    <div style="text-align: center">
      <!-- <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i> -->
      <div class="ui-g-12 ui-md-4">
        <img class="PB-img" src="../../assets/layout/images/NotificationPopup/HappyNewYear.jpg" style="height: 50px;" />
      </div>
      <h3>Happy New Year</h3>
      <p>{{message.detail}}</p>
    </div>
    <!-- <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div> -->
  </ng-template>
  <!-- <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Yes"></button>
    <button type="button" pButton icon="pi pi-close" (click)="display=false" label="No"
      class="ui-button-secondary"></button>
  </p-footer> -->
</p-dialog>

<p-dialog *ngIf="noti" [(visible)]="display" [modal]="true" [responsive]="true"
  [style]="{width: '350px', minWidth: '200px', background:'linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%'}"
  [minY]="70" [maximizable]="false" [baseZIndex]="10000">
  <div style="text-align: center">
    <img class="PB-img" src="../../assets/layout/images/NotificationPopup/HappyNewYear.jpg"
      style="height: 150px; width: auto;" />
    <p>It has been a rewarding experience working with you and may this New Year bring forth many such rewarding moments
      for us to share!</p>
    <p>Wishing you and your Family A Happy New Year</p>
  </div>
</p-dialog>