<div class="ui-g-12 main-header">
    <img class="ui-g-2 ui-md-2" src="../../assets/layout/images/dashboard/tncsc-logo.png" alt="logo"
      style="width: 130px; height: 90px; margin: 0px; padding: 0px; float: left !important" routerLink="/Home" />
    <div class="ui-g-6" style="text-align:center; padding: 0px 30px 0px 0px">
      <h1 class="main-header h1">Tamilnadu Civil Supplies Corporation</h1>
      <h3 class="main-header h3">
        Supply Chain Management-(SCM)
      </h3>
    </div>
    <div class="ui-g-4">
      <h4 class="ui-g-3" style="margin: 0px;padding: 0px">Welcome!</h4>
      <h4 class="ui-g-8" style="margin: 0px;padding: 0px"> <b>{{loggedUsername}}</b></h4>
     
      
      <div class="ui-g-12" style="margin:0px; padding: 0px">
        <div class="ui-g-1" style="margin-right: 20px;">
          <a href="http://omnisurv-cloud.com/index" target="_blank">
            <i class="fa fa-camera-retro fa-2x header-icons" title="CCTV Details"></i>
          </a>
        </div>
        <div class="ui-g-1">
          <a href="https://bonton.aquilatrack.com" target="_blank">
            <i class="fa fa-map-marker fa-2x header-icons" title="CCTV Details"></i>
          </a>
        </div>
        <div class="ui-g-1" style="margin-right: 20px;">
          <i class="fa fa-book fa-2x header-icons" title="CCTV Details"></i>
        </div>
        <div class="ui-g-1">
          <i class="fa fa-comments-o fa-2x header-icons" title="CCTV Details"></i>
        </div>
        <span class="inline-padding" style="float: right;margin: 0px">{{date}}
            <span class="inline-padding" style="text-align:end;margin: 0px">{{clockDisplay}}</span>
        </span>
      </div>
    </div>
  </div>
  