<div class="ui-g-12  main-header">
  <img class="ui-g-3 ui-md-2" src="../../assets/layout/images/dashboard/tncsc-logo.png" alt="logo" style="width: 130px; height: 90px; margin: 0px; padding: 0px; float: left" />
  <div class="ui-g">
    <h1 class="main-header h1">Tamilnadu Civil Supply Corporation</h1>
    <h3 class="main-header h3">
      Supply Chain Management-(SCM)
    </h3>
  </div>
  <!-- <img class="ui-g-2" src="../../assets/layout/images/dashboard/tncsc-logo.png" alt="logo" style="width: 130px; height: 90px; margin: 0px; padding: 0px; float: right" /> -->
</div>
