<app-header></app-header>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
  <app-menu *ngIf="canShowMenu"></app-menu>
  <p-panel>
    <p-header>
      <div class="ui-g panel-header">
        <div class="ui-g-4 dashboard">USER MASTER</div>
      </div>
    </p-header>
    <p-toast [style]="{background: '#FFAEAE'}" position="top-center" key="t-err"></p-toast>
    <div class="ui-g ui-fluid">

      <input type="text" name="username" required>


      <form #form="ngForm" (ngSubmit)="logForm(form.value)">
        <div class="jumbotron">
          <div class="container">
            <div class="ui-g-2">
              <span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText autocomplete="off" name="username" required>
                <label for="float-input">Username</label>
              </span>
            </div>

            <div class="ui-g-2">
              <span class="ui-float-label">
                <input type="text" name="username" required>
                <label for="float-input">Password</label>
              </span>
            </div>
            <div class="ui-g-2">
              <span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText autocomplete="off">
                <label for="float-input">Employee Id</label>
              </span>
            </div>

            <div class="ui-g-2">
              <span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText autocomplete="off">
                <label for="float-input">Email</label>
              </span>
            </div>
            <div class="ui-g-2">
              <span class="ui-float-label">
                <input id="float-input" type="number" size="30" pInputText autocomplete="off">
                <label for="float-input">Phone Number</label>
              </span>
            </div>
          </div>
          <button type="submit">Submit</button>
        </div>
    </form>
</div>
</p-panel>
</div>