<app-header></app-header>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
  <app-menu *ngIf="canShowMenu"></app-menu>
  <p-panel>
    <p-header>
      <div class="ui-g panel-header">
        <div class="ui-g-12 ui-md-4 dashboard">Truck Memo Slip</div>
      </div>
    </p-header>
    <p-toast class="ui-toast-message-success" position="center" key="t-success"></p-toast>
    <p-toast class="ui-toast-message-error" position="center" key="t-err"></p-toast>
    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
    <div class="ibox-body">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <form #f="ngForm" name="truckForm">
            <p-tabView [activeIndex]="index">
              <p-tabPanel header="Transfer Details">
                <div class="ui-g-12 ui-fluid" style="border: 1px solid #18c5a9">
                  <div class="ui-g-12 ui-md-12 ui-fluid no-pad-top">
                    <div class="ui-g-6 ui-md-2">
                      <label class="label-fontsize" for="TNo">Truck No</label>
                      <input type="text" name="TNo" [(ngModel)]="STNo" [readonly]="true" size="20" pInputText autocomplete="off">
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <label class="label-fontsize" for="TDate">Truck Date</label>
                      <p-calendar name="TDate" [(ngModel)]="STDate" dateFormat="dd/mm/yy" [maxDate]="maxDate" [showIcon]="true" required></p-calendar>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <label for="Trcd" class="label-fontsize">Transaction Code</label>
                      <p-dropdown #tr name="Trcd" id="float-input" [options]="transactionOptions" [(ngModel)]="Trcode"
                        (onClick)="onSelect('tr')" (keydown.enter)="onSelect('tr')" optionLabel="label" required>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="margin-top: -7px">
                      <label for="MNo" class="label-fontsize">Allotment/Movement Order No</label>
                      <input name="MNo" [(ngModel)]="OrderNo" pInputText autocomplete="off" required>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <label class="label-fontsize" for="MDate">Movement Order Date</label>
                      <p-calendar name="MDate" [(ngModel)]="OrderDate" dateFormat="dd/mm/yy" [maxDate]="maxDate" [showIcon]="true" required></p-calendar>
                    </div>
                    <div class="ui-g-6 ui-md-1" style="padding: 20px 0px 0px 0px;">
                      <p-checkbox name="road" class="ui-g-3" name="groupname" value="Road"
                        (onChange)="onSelectTransportMode()" [(ngModel)]="selectedValues">
                      </p-checkbox>
                      <label class="ui-g-8 label-fontsize-large" for="road">By Road</label>
                    </div>
                    <div class="ui-g-6 ui-md-1" style="padding: 20px 0px 0px 0px;">
                      <p-checkbox name="rail" class="ui-g-3" name="groupname" (onChange)="onSelectTransportMode()"
                        value="Rail" [(ngModel)]="selectedValues">
                      </p-checkbox>
                      <label class="ui-g-8 label-fontsize-large" for="rail">By Rail</label>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-fluid no-pad-top">
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="RNo" id="float-input" [(ngModel)]="RNo" pInputText autocomplete="off" required>
                        <label for="RNo" class="float-input" style="padding-top: 10px;">Release Order No</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-top: 10px;">
                      <label class="label-fontsize" for="RDate">Release Order Date</label>
                      <p-calendar name="RDate" [(ngModel)]="RDate" dateFormat="dd/mm/yy" [maxDate]="maxDate" [showIcon]="true" required></p-calendar>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="margin-top: -8px">
                      <label for="RHCode" class="label-fontsize" style="padding-top: 10px;">To The Rail Head</label>
                      <p-dropdown #rail name="RHCode" [options]="toRailHeadOptions" [disabled]="disableRailHead"
                        [(ngModel)]="RHCode" (onClick)="onSelect('rh')" (keydown.enter)="onSelect('rh')" filter="true" optionLabel="label" required>
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="margin-top: -8px">
                        <label for="RRCode" class="label-fontsize" style="padding-top: 10px;">Receivor Region</label>
                        <p-dropdown #rr name="RRCode" [options]="receivorRegionOptions" [(ngModel)]="RRCode"
                          (onClick)="onSelect('rr')" optionLabel="label" filter="true" [disabled]="isRailSelected"
                          required>
                          <ng-template let-item pTemplate="selectedItem">
                            <span style="vertical-align:middle">{{item.label}}</span>
                          </ng-template>
                        </p-dropdown>
                      </div>
                    <div class="ui-g-6 ui-md-2" style="margin-top: -8px">
                      <label for="RTCode" class="label-fontsize" style="padding-top: 10px;">Receivor Type</label>
                      <p-dropdown #rt name="RTCode" [options]="receivorTypeOptions" [(ngModel)]="RTCode"
                        (onClick)="onSelect('rt')" (keydown.enter)="onSelect('rt')" optionLabel="label" filter="true" required>
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="margin-top: -8px">
                      <label for="RNCode" class="label-fontsize" style="padding-top: 10px;">Receivor Name</label>
                      <p-dropdown #rn name="RNCode" [options]="receivorNameOptions" [(ngModel)]="RNCode"
                        (onClick)="onSelect('rn')" (keydown.enter)="onSelect('rn')" optionLabel="label" filter="true" required>
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-fluid no-pad-top">
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="RName" id="float-input" [(ngModel)]="regionName" pInputText autocomplete="off"
                          [readonly]="true" required>
                        <label for="RName" class="float-input" style="padding-top: 10px;">Region Name</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="IssuingGCode" id="float-input" [(ngModel)]="godownName" pInputText
                          autocomplete="off" [readonly]="true" required>
                        <label for="IssuingGCode" class="float-input" style="padding-top: 10px;">Issuing Godown
                          Name</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                        <span class="ui-float-label" style="padding-top: 20px;">
                          <input name="LNo" id="float-input" [(ngModel)]="LorryNo"
                          oninput="this.value = this.value.replace(/^[A-Z0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                            onKeyDown="if(this.value.length==11 && event.keyCode!=8) return false;" pInputText
                            autocomplete="off" required>
                          <label for="LNo" class="float-input" style="padding-top: 10px;">Lorry No</label>
                        </span>
                      </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="ManualDNo" id="float-input" [(ngModel)]="ManualDocNo" pInputText autocomplete="off"
                          required>
                        <label for="ManualDNo" class="float-input" style="padding-top: 10px;">Manual Document No</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-4">
                      <label class="label-fontsize" for="RRegion"><b>Trf Region:</b>Received Region</label>
                      <textarea name="RRegion" [rows]="3" [(ngModel)]="RRemarks" [cols]="50" pInputTextarea
                        required></textarea>
                    </div>
                  </div>
                  <div class="ui-g-10 ui-md-11"></div>
                  <div class="ui-g-2 ui-md-1">
                    <button class="ui-g-6 ui-md-1 dashboard" style="float: right; margin-top: 5px" type="button" pButton
                      label=Next (click)="openNext()"></button></div>
                </div>
              </p-tabPanel>

              <p-tabPanel header="Items Details">
                <div class="ui-g-12 ui-fluid" style="border: 1px solid #18c5a9">
                  <div class="ui-g-12 ui-fluid">
                    <div class="ui-g-6 ui-md-2 ui-fluid" style="margin-top: -22px">
                      <label for="Scheme" class="label-fontsize">Scheme</label>
                      <p-dropdown #sc name="Scheme" [options]="schemeOptions" [(ngModel)]="Scheme"
                        (onClick)="onSelect('sc')" (keydown.enter)="onSelect('sc')" optionLabel="label" 
                        filter="true">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-3 ui-fluid" style="margin-top: -22px">
                      <label for="ITDesc" class="label-fontsize">Item Description</label>
                      <p-dropdown #i_desc name="ITDesc" [options]="itemDescOptions" [(ngModel)]="ICode"
                        (onClick)="onSelect('i_desc')" (keydown.enter)="onSelect('i_desc')" filter="true" optionLabel="label">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2 ui-fluid" style="margin-top: -22px">
                      <label for="TStockNo" class="label-fontsize">Stack No.</label>
                      <p-dropdown #st_no name="TStockNo" id="float-input" [options]="stackOptions"
                        [(ngModel)]="TStockNo" (onClick)="onSelect('st_no')" (keydown.enter)="onSelect('st_no')" filter="true" optionLabel="label"
                        [showClear]="true">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-4 ui-md-2 ui-fluid">
                      <label for="StackYear" class="label-fontsize-large"><b>Stack year - {{stackYear}}</b></label>
                    </div>
                    <div class="ui-g-4 ui-md-1">
                      <span class="ui-float-label">
                        <input name="Godown" id="float-input" [(ngModel)]="GodownNo" pInputText autocomplete="off"
                          [readonly]="true">
                        <label for="Godown" class="float-input">Godown</label>
                      </span>
                    </div>
                    <div class="ui-g-4 ui-md-2">
                      <span class="ui-float-label">
                        <input name="LocNo" id="float-input" pInputText [(ngModel)]="LocationNo" autocomplete="off"
                          [readonly]="true">
                        <label for="LocNo" class="float-input">Location+Formation No.</label>
                      </span>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-fluid no-pad-top">
                    <div class="ui-g-6 ui-md-3 ui-fluid">
                      <label for="PackingType" class="label-fontsize">Packing Type</label>
                      <p-dropdown #pt name="PackingType" id="float-input" [options]="packingTypeOptions"
                        [(ngModel)]="IPCode" (onClick)="onSelect('pt')" (keydown.enter)="onSelect('pt')" optionLabel="label" filter="true">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <label for="NoPacking" class="label-fontsize">No.of Packing</label>
                      <input name="NoPacking" id="float-input" [(ngModel)]="NoPacking" pInputText autocomplete="off"
                        (input)="onCalculateKgs()">
                    </div>
                    <div class="ui-g-6 ui-md-2 ui-fluid" style="margin-top: -12px">
                      <p-header>
                        <div class="label-fontsize dashboard" style="text-align: center">
                          Gross Wt
                        </div>
                      </p-header>
                      <label class="label-fontsize" for="GKgs">Kgs</label>
                      <label class="label-fontsize" for="GKgs" style="float: right">Gms</label>
                      <span class="ui-float-label">
                        <input name="GKgs" id="float-input" type="text" size="20" [(ngModel)]="GKgs" pInputText
                          autocomplete="off">
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2 ui-fluid" style="margin-top: -12px">
                      <p-header>
                        <div class="label-fontsize dashboard" style="text-align: center">
                          Net Wt
                        </div>
                      </p-header>
                      <label class="label-fontsize" for="NKgs">Kgs</label>
                      <label class="label-fontsize" for="NKgs" style="float: right">Gms</label>
                      <span class="ui-float-label">
                        <input name="NKgs" id="float-input" type="text" size="20" [(ngModel)]="NKgs" pInputText
                          autocomplete="off">
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2 ui-fluid" style="margin-top: -12px">
                      <p-header>
                        <div class="label-fontsize dashboard" style="text-align: center">
                          Tare Wt
                        </div>
                      </p-header>
                      <label class="label-fontsize" for="TKgs">Kgs</label>
                      <label class="label-fontsize" for="TKgs" style="float: right">Gms</label>
                      <span class="ui-float-label">
                        <input name="TKgs" id="float-input" type="text" size="20" [(ngModel)]="TKgs" pInputText
                          autocomplete="off">
                      </span>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-6 ui-md-3" style="margin-top: -18px">
                      <label for="WmtType" class="label-fontsize">WmtType</label>
                      <p-dropdown #wmt name="WmtType" [options]="wmtOptions" [(ngModel)]="WTCode"
                        (onClick)="onSelect('wmt')" (keydown.enter)="onSelect('wmt')" filter="true" optionLabel="label">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2 ui-fluid" style="margin-top: 2px">
                      <span class="ui-float-label">
                        <input id="float-input" type="text" minlength="1" maxlength="5" size="20" [(ngModel)]="Moisture" pInputText
                        autocomplete="off" (keyup)="parseMoisture($event)" name="Moisture"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
                        <label for="Moisture" class="float-input">Moisture</label>
                      </span>
                    </div>
                    <div class="ui-g-4 ui-md-1 ui-fluid" style="margin-top: 2px">
                      <button pButton type="button" label="Enter" [disabled]="(!Moisture || !Scheme || !ICode || !IPCode || !GKgs || !NKgs || !TStockNo || !WTCode)" (click)="onEnter()"></button>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-md-12 ui-fluid no-pad-top">
                    <p-table [columns]="itemCols" [value]="itemData" [responsive]="true" [scrollable]="true"
                      scrollHeight="180px">
                      <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                          <col *ngFor="let col of columns" style="width:80px">
                        </colgroup>
                      </ng-template>
                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th *ngFor="let col of columns">
                            {{col.header}}
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                          <tr [pSelectableRow]="rowData" (dblclick)="deleteRow('item', rowIndex)">
                          <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                  <div class="ui-g-12 ui-fluid no-pad-top">
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label">
                        <input name="StackBal" id="float-input" [(ngModel)]="StackBalance" pInputText autocomplete="off"
                        [readonly]="true" >
                        <label for="StackBal" class="float-input">Stack Balance</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label">
                        <input name="CurQtv" id="float-input" [(ngModel)]="CurrentDocQtv" pInputText autocomplete="off"
                        [readonly]="true">
                        <label for="CurQtv" class="float-input">Cur.Doc. Qtv</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label">
                        <input name="NetStackBal" id="float-input" [readonly]="true" [(ngModel)]="NetStackBalance" pInputText
                          autocomplete="off">
                        <label for="NetStackBal" class="float-input">Net Stack Balance</label>
                      </span>
                    </div>
                  </div>
                  <div class="ui-g-10 ui-md-10"></div>
                  <div class="ui-g-2 ui-md-1">
                    <button style="margin-top: 5px" type="button" pButton label=Prev (click)="openPrev()"></button>
                  </div>
                  <div class="ui-g-2 ui-md-1">
                    <button style="margin-top: 5px" type="button" pButton label=Next (click)="openNext()"></button>
                  </div>
                </div>
              </p-tabPanel>

              <p-tabPanel header="Freight Details">
                <div class="ui-g-12 ui-fluid" style="border: 1px solid #18c5a9">
                  <div class="ui-g-12 no-pad-top" style="text-align: center">
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="TName" id="float-input" [(ngModel)]="TransporterName" pInputText
                          autocomplete="off" required>
                        <label for="TName" class="float-input" style="padding-top: 10px;">Transporter Name</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="LWBillNo" id="float-input" [(ngModel)]="LWBillNo" pInputText autocomplete="off" required>
                        <label for="LWBillNo" class="float-input" style="padding-top: 10px;">Lorry Way Bill No</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-top: 10px;">
                      <label class="label-fontsize" for="WBillDate">Way Bill Date</label>
                      <p-calendar name="WBillDate" [(ngModel)]="LWBillDate" dateFormat="dd/mm/yy" [maxDate]="maxDate" [showIcon]="true" required></p-calendar>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="FAmt" id="float-input" [(ngModel)]="FreightAmount" pInputText autocomplete="off" required>
                        <label for="FAmt" class="float-input" style="padding-top: 10px;">Freight Amt</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-1">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="Kms" id="float-input" [(ngModel)]="Kilometers" pInputText autocomplete="off" required>
                        <label for="Kms" class="float-input" style="padding-top: 10px;">Kms</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-3">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="WHDeposit" id="float-input" [(ngModel)]="WHDNo" pInputText autocomplete="off" required>
                        <label for="WHDeposit" class="float-input" style="padding-top: 10px;">Warehouse Deposit
                          Receipt</label>
                      </span>
                    </div>
                  </div>
                  <div class="ui-g-12 no-pad-top" style="text-align: center">
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="WmtCharges" id="float-input" [(ngModel)]="WCharges" pInputText autocomplete="off" required>
                        <label for="WmtCharges" class="float-input" style="padding-top: 10px;">Wmt Charges</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="Hcharges" id="float-input" [(ngModel)]="HCharges" pInputText autocomplete="off" required>
                        <label for="Hcharges" class="float-input" style="padding-top: 10px;">Handling Charges</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="GunnnyReleased" id="float-input" pInputText [(ngModel)]="GunnyReleased"
                          autocomplete="off" required>
                        <label for="GunnnyReleased" class="float-input" style="padding-top: 10px;">Gunny
                          Released</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="GunnyUtilised" id="float-input" pInputText [(ngModel)]="Gunnyutilised"
                          autocomplete="off" required>
                        <label for="GunnyUtilised" class="float-input" style="padding-top: 10px;">Gunny Utilised</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="margin-top: -8px">
                      <label for="Fcode" class="label-fontsize" style="padding-top: 10px;">Freight Code</label>
                      <p-dropdown #fc name="Fcode" [options]="freightOptions" [(ngModel)]="FCode"
                        (onClick)="onSelect('fc')" (keydown.enter)="onSelect('fc')" required></p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="margin-top: -8px">
                      <label for="Vcode" class="label-fontsize" style="padding-top: 10px;">Vehicle Code</label>
                      <p-dropdown #vc name="Vcode" [options]="vehicleOptions" [(ngModel)]="VCode"
                        (onClick)="onSelect('vc')" (keydown.enter)="onSelect('vc')" required>
                      </p-dropdown>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-fluid no-pad-top" style="padding-top: 0px; padding-bottom: 0px">
                    <div class="ui-g-6 ui-md-2" style="margin-top: -8px">
                      <label for="Fstation" class="label-fontsize" style="padding-top: 10px;">From Station</label>
                      <p-dropdown #fs name="Fstation" [options]="fromStationOptions" [(ngModel)]="FStation"
                        (onClick)="onSelect('fs')" (keydown.enter)="onSelect('fs')" filter="true" optionLabel="label" required>
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="margin-top: -8px">
                      <label for="Tstation" class="label-fontsize" style="padding-top: 10px;">To Station</label>
                      <p-dropdown #ts name="Tstation" [options]="toStationOptions" [(ngModel)]="TStation"
                        (onClick)="onSelect('ts')" (keydown.enter)="onSelect('ts')" filter="true"  optionLabel="label" required>
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="RRNo" id="float-input" [(ngModel)]="RRNo" pInputText autocomplete="off" required>
                        <label for="RRNo" class="float-input" style="padding-top: 10px;">RR No</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="WNo" id="float-input" pInputText [(ngModel)]="WNo" autocomplete="off" required>
                        <label for="WNo" class="float-input" style="padding-top: 10px;">Wagon No</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-top: 20px;">
                        <input name="RailFAmnt" id="float-input" pInputText [(ngModel)]="RailFreightAmt"
                          autocomplete="off" required>
                        <label for="RailFAmnt" class="float-input" style="padding-top: 10px;">Rail Freight Amt</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-top: 10px;">
                      <label class="label-fontsize" for="LDate">Loading Date</label>
                      <p-calendar name="LDate" [(ngModel)]="LDate" dateFormat="dd/mm/yy" [maxDate]="maxDate" [showIcon]="true" required></p-calendar>
                    </div>
                  </div>
                  <div class="ui-g-12 no-pad-top">
                    <div class="ui-g-10">
                      <div><label class="label-fontsize" for="Remarks">Remarks</label></div>
                      <textarea name="Remarks" [rows]="3" [cols]="60" [(ngModel)]="Remarks" pInputTextarea required></textarea>
                    </div>
                  </div>
                  <div class="ui-g-10 ui-md-11"></div>
                  <div class="ui-g-2 ui-md-1">
                    <button class="ui-g-6 ui-md-1 dashboard" style="float: right; margin-top: 5px" type="button" pButton
                      label=Prev (click)="openPrev()"></button></div>
                </div>
                <!-- </div> -->
              </p-tabPanel>
            </p-tabView>
            <div class="ui-g-3 ui-md-9"></div>
            <div class="ui-g-3 ui-md-1 ui-fluid">
              <button style="margin-top:5px" pButton type="button" label=View (click)="onView()"></button>
            </div>
            <div class="ui-g-3 ui-md-1 ui-fluid">
              <button style="margin-top:5px" pButton type="button" [disabled]="(!f.valid || itemData.length=='0')" label=Save (click)="onSave()"></button>
            </div>
            <div class="ui-g-3 ui-md-1 ui-fluid">
              <button style="margin-top:5px" pButton type="button" label=Print [disabled]="isSaveSucceed" (click)="onPrint()"></button>
            </div>
          </form>
        </div>
        <div class="col-md-1"></div>

      </div>
    </div>
  </p-panel>
</div>
<p-dialog header="Truck-Memo-Slip" [contentStyle]="{'overflow':'scroll'}" [modal]="true" [maximizable]="true"
[(visible)]="viewPane" [style]="{width: '75% !important', height: '50% !important'}">
    <div class="ui-g-12 ui-md-2">
        <label class="ui-g-6 label-fontsize-large">Date</label>
        <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" [(ngModel)]="viewDate" (ngModelChange)="onView()"></p-calendar>
    </div>
    <div class="ui-g-12 ui-fluid">
        <p-table [columns]="truckMemoViewCol" [value]="truckMemoViewData" selectionMode="single" [responsive]="true" autoLayout="true" (onRowSelect)="onRowSelect($event)"> 
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns" style="width:80px">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData" (dbclick)="deleteRow('view', rowIndex)">
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="ui-g-4 ui-md-10"></div>
      <div class="ui-g-4 ui-md-1 no-right-pad">
        <button class="ui-g-10 dashboard" pButton label=OK [disabled]="!viewTruckData" (click)="getDocBySTNo()"></button>
      </div>
      <div class="ui-g-4 ui-md-1 no-left-pad">
          <button class="ui-g-10 dashboard" pButton label=Cancel (click)= "viewPane = false"></button>
        </div>
</p-dialog>
