<div class="ui-g-12 ui-md-12 ui-lg-12" >
  <div class="ui-g-12">
  <div class="ui-g-4 card login-panel"  style="margin-left: 12%">
    <div class="ui-g-12 login-header">
      <span>Sign In</span>
    </div>
    <form [formGroup]="loginForm" ngSubmit="OnSignIn()">
      <div class="ui-g-12" style="display: inline-grid; align-items: center; justify-content: center">
        <div class="ui-g-12">
          <i class="ui-g-2 fa fa-user fa-grey icon-fa-2x dashboard"></i>
          <input class="ui-g-10 rounded-input" size="50" id="float-input" formControlName="username" type="text" pInputText
            [(ngModel)]="userName" placeholder="username"
            [ngClass]="{'is-invalid': submitted && formControls.username.errors}" />
          <div *ngIf="submitted && formControls.username.errors" class="invalid-feedback">
            <div class="ui-g-12 error" *ngIf="formControls.username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="ui-g-12">
          <i class="ui-g-2 fa fa-lock fa-grey icon-fa-2x dashboard"></i>
          <input class="ui-g-10 rounded-input" size="50" pInputText type="password" formControlName="password" [(ngModel)]="password"
            placeholder="Password" [ngClass]="{'is-invalid': submitted && formControls.password.errors}" />
          <div *ngIf="submitted && formControls.password.errors" class="invalid-feedback">
            <div class="ui-g-12 error" *ngIf="formControls.password.errors.required">Password is required</div>
          </div>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-12" style="margin-top: 5%">
          <button pButton style="padding: 0px; width: 50%" class="rounded-button" label="Sign In" (click)="onSignIn()"></button>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-12" style="margin-top: 5%">
            <button pButton class="rounded-button" label="Forget Password" (click)="onForgetPswdClicked()"></button>
        </div>
      </div>
    </form>
  </div>
  <div class="ui-g-6 ui-md-6 ui-lg-6 dashboard">
    <ul class="ui-g-12 slides">
      <input type="radio" name="radio-btn" id="img-1" checked/>
      <li class="slide-container">
          <div class="slide">
            <img src="../../assets/layout/images/login/tamilnadu-civilsupplies.png" />
          </div>
      <div class="nav">
        <label for="img-1" class="prev">&#x2039;</label>
        <label for="img-2" class="next">&#x203a;</label>
      </div>
      </li>
      <input type="radio" name="radio-btn" id="img-2" />
      <li class="slide-container">
          <div class="slide">
            <img src="../../assets/layout/images/login/rice-purchase.png" />
          </div>
      <div class="nav">
        <label for="img-3" class="prev">&#x2039;</label>
        <label for="img-4" class="next">&#x203a;</label>
      </div>
      </li>
      <input type="radio" name="radio-btn" id="img-3" />
      <li class="slide-container">
          <div class="slide">
            <img src="../../assets/layout/images/login/godown-supplies.png" />
          </div>
      <div class="nav">
        <label for="img-5" class="prev">&#x2039;</label>
        <label for="img-1" class="next">&#x203a;</label>
      </div>
      </li>
      <input type="radio" name="radio-btn" id="img-4" />
      <li class="slide-container">
          <div class="slide">
            <img src="../../assets/layout/images/login/godown.png" />
          </div>
      <div class="nav">
        <label for="img-2" class="prev">&#x2039;</label>
        <label for="img-3" class="next">&#x203a;</label>
      </div>
      </li>
      <input type="radio" name="radio-btn" id="img-5" />
      <li class="slide-container">
          <div class="slide">
            <img src="../../assets/layout/images/login/paddy-procurement.png" />
          </div>
      <div class="nav">
        <label for="img-4" class="prev">&#x2039;</label>
        <label for="img-5" class="next">&#x203a;</label>
      </div>
      </li>
      <li class="nav-dots">
        <label for="img-1" class="nav-dot" id="img-dot-1"></label>
        <label for="img-2" class="nav-dot" id="img-dot-2"></label>
        <label for="img-3" class="nav-dot" id="img-dot-3"></label>
        <label for="img-4" class="nav-dot" id="img-dot-4"></label>
        <label for="img-5" class="nav-dot" id="img-dot-5"></label>
      </li>
  </ul>
  </div>
</div>
  </div>