<app-menu *ngIf="canShowMenu"></app-menu>
<div class="ui-g-12 ui-md-12 ui-lg-12 content" style="margin: 0px !important">
  <p-panel>
    <p-header>
      <div class="ui-g panel-header">
        <div class="ui-g-12 ui-md-4 dashboard">Tender Allotment Details</div>
      </div>
    </p-header>
    <div class="ui-g ui-fluid">
      <p-toast position="top-center" key="t-err" [hideTransitionOptions]="'500ms'"></p-toast>
      <form #f="ngForm" name="tenderDetailsForm">
        <div class="ui-g-12 border-teal">
          <div class="ui-g-12 dasboard">
            <div class="ui-g-2"></div>
            <div class="ui-g-6 ui-md-2">
              <label for="Tender_Id" class="label-fontsize">Tender ID</label>
              <p-dropdown #TenderID name="Tender_Id" [options]="tenderIdOptions" [(ngModel)]="TenderId"
                optionLabel="label" (onClick)="onSelect('click', 't_id')" (keydown.enter)="onSelect('enter', 't_id')"
                filter="true" resetFilterOnHide="true" required>
              </p-dropdown>
            </div>
            <div class="ui-g-6 ui-md-2 ui-fluid">
              <label for="Party_Name" class="label-fontsize">Party Name</label>
              <p-dropdown #Party name="Party_Name" [options]="partyNameOptions" [(ngModel)]="PartyType"
                (onClick)="onSelect('click', 'p_id')" (keydown.enter)="onSelect('enter', 'p_id')" filter="true" resetFilterOnHide="true"
                optionLabel="label" [showClear]="true" required>
                <ng-template let-item pTemplate="selectedItem">
                  <span style="vertical-align:middle">{{item.label}}</span>
                </ng-template>
              </p-dropdown>
            </div>
            <div class="ui-g-6 ui-md-2">
                <label for="Target_Date" class="label-fontsize">Target Date</label>
                <p-calendar name="Target_Date" #targetDate="ngModel" [showIcon]="true" dateFormat="dd/mm/yy"
                  [maxDate]="maxDate" [(ngModel)]="TargetDate" required></p-calendar>
              </div>
          </div>
          <div class="ui-g-12 dasboard">
            <div class="ui-g-2"></div>
            <div class="ui-g-6 ui-md-2">
              <label for="Total_Days" class="label-fontsize">Total Days</label>
              <input pInputText name="Total_Days" [(ngModel)]="TotalDays" type="text"
                oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                required />
            </div>
            <div class="ui-g-6 ui-md-2">
              <label for="qty" class="label-fontsize">Quantity</label>
              <input pInputText name="qty" [(ngModel)]="Quantity" type="text"
                oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                appDecimalDigit required />
            </div>
            <div class="ui-g-12 ui-md-5">
                <div><label class="label-fontsize" for="RemarksText">Remarks</label></div>
                <textarea name="RemarksText" [rows]="3" [cols]="60" [(ngModel)]="Remarks" pInputTextarea required></textarea>
              </div>
          </div>
          <div class="ui-g-2"></div>
          <div class="ui-g-3 ui-md-7"></div>
          <div class="ui-g-3 ui-md-1 ui-fluid">
            <button name="view" style="margin-top:5px" pButton type="button" label=View (click)="onView()"></button>
          </div>
          <div class="ui-g-3 ui-md-1 ui-fluid">
            <button name="save" style="margin-top:5px" pButton type="button"
              [disabled]="((!TargetDate || !TenderId || !PartyType || !TotalDays || !Quantity) || (isViewed && !f.dirty))"
              label=Save (click)="onSave()"></button>
          </div>
        </div>
      </form>
      <div class="ui-g-12 ui-md-12 ui-lg-12" *ngIf="isShowGrid">
        <p-table [columns]="tenderAllotmentCols" [value]="tenderAllotmentData" [paginator]="true" [rows]="20">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData" (dblclick)="onSelectedRow(rowData, rowIndex)">
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-panel>
</div>