<app-header></app-header>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
  <app-menu *ngIf="canShowMenu"></app-menu>
  <p-panel>
    <p-header>
      <div class="ui-g panel-header">
        <div class="ui-g-12 ui-md-4 dashboard">Delivery Order Slip</div>
      </div>
    </p-header>
    <div class="ibox-body">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <form #f="ngForm" name="deliveryForm">
            <p-tabView [activeIndex]="index">
              <p-tabPanel header="Delivery Details">
                <div class="ui-g-12 ui-fluid" style="border: 1px solid #18c5a9">
                  <div class="ui-g-12">
                    <div class="ui-g-6 ui-md-2">
                      <label class="label-fontsize" for="DoNo">Delivery Order No</label>
                      <input name="DoNo" type="text" size="20" pInputText [(ngModel)]="DeliveryOrderNo"
                        autocomplete="off">
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <label class="label-fontsize" for="DoDate">Delivery Order Date</label>
                      <p-calendar class="label-fontsize-large" name="DoDate" [maxDate]="maxDate" dateFormat="dd/mm/yy" [(ngModel)]="DeliveryDate"
                        [showIcon]="true"></p-calendar>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-right: 10px;padding-top: 20px;">
                        <p-dropdown #tr name="Trcode" id="float-input" [options]="transactionOptions"
                          [(ngModel)]="Trcode" (onClick)="onSelect('tr')" filter="true" optionLabel="label" [showClear]="true" required>
                          <ng-template let-item pTemplate="selectedItem">
                            <span style="vertical-align:middle">{{item.label}}</span>
                          </ng-template>
                        </p-dropdown>
                        <label for="Trcode" class="float-input" style="padding-top: 10px;">Transaction Code</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-right: 10px;padding-top: 20px;">
                        <input name="IdentNo" id="float-input" pInputText [(ngModel)]="IndentNo" autocomplete="off">
                        <label for="IdentNo" class="float-input" style="padding-top: 10px;">Indent No</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-right: 10px;">
                      <label class="label-fontsize" for="PDate">Permit Date</label>
                      <p-calendar class="label-fontsize-large" name="PDate" [maxDate]="maxDate" dateFormat="dd/mm/yy" [(ngModel)]="PermitDate"
                        [showIcon]="true"></p-calendar>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-left: 0px;padding-top: 20px;">
                      <label for="rice" class="ui-g-7 label-fontsize-large">Only Rice</label>
                      <p-checkbox name="rice" class="ui-g-1" name="groupname" value="val1" [(ngModel)]="selectedItem">
                      </p-checkbox>
                    </div>
                  </div>
                  <div class="ui-g-12">
                          <div class="ui-g-6 ui-md-2">
                            <span class="ui-float-label">
                              <p-dropdown #m name="month" id="float-input" [options]="monthOptions" [(ngModel)]="month"
                                (onClick)="onSelect('m')" filter="true">
                                <ng-template let-item pTemplate="selectedItem">
                                  <span style="vertical-align:middle">{{item.label}}</span>
                                </ng-template>
                              </p-dropdown>
                              <label for="month" class="float-input">Month</label>
                            </span>
                          </div>
                          <div class="ui-g-6 ui-md-2">
                            <span class="ui-float-label">
                              <p-dropdown #y name="year" id="float-input" [options]="yearOptions" [(ngModel)]="year"
                                (onClick)="onSelect('y')">
                              </p-dropdown>
                              <label for="year" class="float-input">Year</label>
                            </span>
                          </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label">
                        <input name="RName" id="float-input" pInputText [(ngModel)]="RegionName" autocomplete="off">
                        <label for="RName" class="float-input">Region Name</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-left: 0px">
                      <span class="ui-float-label">
                        <input name="GName" id="float-input" pInputText [(ngModel)]="GodownName" autocomplete="off">
                        <label for="GName" class="float-input">Issuing Godown Name</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-left: 0px">
                      <span class="ui-float-label">
                        <p-dropdown #rt name="Rtcode" id="float-input" [options]="receivorTypeOptions"
                          [(ngModel)]="RTCode" (onClick)="onSelect('rt')" filter="true" optionLabel="label" [showClear]="true" required>
                          <ng-template let-item pTemplate="selectedItem">
                            <span style="vertical-align:middle">{{item.label}}</span>
                          </ng-template>
                        </p-dropdown>
                        <label for="Rtcode" class="float-input">Receivor Type</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-left: 0px">
                      <span class="ui-float-label">
                        <p-dropdown #pn name="Pname" id="float-input" [options]="partyNameOptions" [(ngModel)]="PName"
                          (onClick)="onSelect('pn')" filter="true" optionLabel="label" [showClear]="true" required>
                          <ng-template let-item pTemplate="selectedItem">
                            <span style="vertical-align:middle">{{item.label}}</span>
                          </ng-template>
                        </p-dropdown>
                        <label for="Pname" class="float-input">Party Name</label>
                      </span>
                    </div>
                  </div>
                  <div class="ui-g-12">
                    <div class="ui-g-10 ui-md-10" style="margin-top: -24px">
                      <label class="label-fontsize" for="Instructions">Special Instructions If Any</label>
                      <textarea name="Instructions" [rows]="3" [cols]="110" [(ngModel)]="Instructions"
                        pInputTextarea></textarea>
                    </div>
                    <div class="ui-g-2 ui-md-2">
                      <button pButton type="button" label="Payment Details" (click)="onPayment()"></button>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-fluid">
                    <div class="ui-g-12 no-pad-top">
                      <p-table [columns]="deliveryCols" [value]="deliveryData" [responsive]="true" [scrollable]="true"
                        scrollHeight="150px">
                        <ng-template pTemplate="colgroup" let-columns>
                          <colgroup>
                            <col *ngFor="let col of columns" style="width:80px">
                          </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                          <tr>
                            <th *ngFor="let col of columns">
                              {{col.header}}
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                          <tr>
                            <td *ngFor="let col of columns">
                              {{rowData[col.field]}}
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>
                  <div class="ui-g-10 ui-md-11"></div>
                  <div class="ui-g-2 ui-md-1">
                    <button class="ui-g-6 ui-md-1 dashboard" style="float: right; margin-top: 5px" type="button" pButton
                      label=Next (click)="openNext()"></button>
                  </div>
                </div>
              </p-tabPanel>

              <p-tabPanel header="Item Details">
                <div class="ui-g-12 ui-fluid" style="border: 1px solid #18c5a9">
                  <div class="ui-g-12" style="text-align: center">
                    <div class="ui-g-6 ui-md-2" style="padding-left: 0px">
                      <label class="label-fontsize" for="scheme" style="padding-top: 10px;">Scheme</label>
                      <p-dropdown #sc name="scheme" [options]="schemeOptions" [(ngModel)]="Scheme"
                        (onClick)="onSelect('sc')" filter="true" optionLabel="label" [showClear]="true" required>
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-left: 0px;text-align: center">
                      <label class="label-fontsize" for="idesc" style="padding-top: 10px;">Item Description</label>
                      <p-dropdown #i_desc name="idesc" [options]="itemDescOptions" [(ngModel)]="ICode"
                        (onClick)="onSelect('i_desc')" filter="true" optionLabel="label" [showClear]="true" required>
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-left: 0px;padding-top: 0px;text-align: center">
                      <label class="label-fontsize" for="Nkgs" style="padding-top: 0px;">Net Wt</label>
                      <div>
                        <label class="label-fontsize" for="Nkgs" style="float:left">Kgs</label> <label class="label-fontsize" style="float: right">Gms</label>
                      </div>
                      <input name="Nkgs" pInputText [(ngModel)]="NKgs" 
                      oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==6 && event.keyCode!=8) return false;"
                       autocomplete="off" appDecimalDigit/>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-left: 0px; margin-top: -5px">
                      <label class="label-fontsize" for="rate">Rate In Term Of</label>
                      <p-dropdown #rate name="rate" [options]="rateInTermsOptions" [(ngModel)]="RateTerm"
                        (onClick)="onSelect('wmt')" filter="true" optionLabel="label" [showClear]="true" required>
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-left: 0px;padding-top: 0px;text-align: center">
                      <label class="label-fontsize" for="Raters" style="padding-top: 0px;">Rate</label>
                      <div>
                        <label class="label-fontsize" for="Raters" style="float:left">Rs</label> <label class="label-fontsize" style="float: right">Ps</label>
                      </div>
                      <input name="Raters" pInputText [(ngModel)]="Rate" autocomplete="off" 
                      oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==6 && event.keyCode!=8) return false;"/>
                    </div>
                    <div class="ui-g-6 ui-md-1" style="padding-left: 0px;padding-top: 0px;text-align: center">
                      <label class="label-fontsize" for="total" style="padding-top: 0px;">Total</label>
                      <div>
                        <label class="label-fontsize" for="total" style="float:left">Rs</label> <label class="label-fontsize" style="float: right">Ps</label>
                      </div>
                      <input name="total" pInputText [(ngModel)]="TotalAmount" [readonly]="true"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==6 && event.keyCode!=8) return false;"
                      autocomplete="off"/>
                    </div>
                    <div class="ui-g-1">
                      <div class="ui-g-12"></div>
                      <div class="ui-g-10" style="padding-top: 12px">
                        <button pButton label="Enter" (click)="onEnter('Item1')"></button></div>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-md-12 ui-fluid">
                    <p-table [columns]="itemCols" [value]="itemData" [responsive]="true" [scrollable]="true"
                      scrollHeight="150px">
                      <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                          <col *ngFor="let col of columns" style="width:80px">
                        </colgroup>
                      </ng-template>
                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th *ngFor="let col of columns">
                            {{col.header}}
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                          <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                  <div class="ui-g-12" style="text-align: center">
                    <div class="ui-g-6 ui-md-2" style="padding-left: 0px">
                      <label class="label-fontsize" for="marginScheme" style="padding-top: 10px;">Scheme</label>
                      <p-dropdown #ms [options]="marginSchemeOptions" [(ngModel)]="MarginScheme"
                        (onClick)="onSelect('sc')" filter="true" name="marginScheme" optionLabel="label" [showClear]="true" required>
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-left: 0px;text-align: center">
                      <label class="label-fontsize" for="marginItem" style="padding-top: 10px;">Item Description</label>
                      <p-dropdown #margin_id name="marginItem" [options]="marginItemDescOptions"
                        [(ngModel)]="MICode" (onClick)="onSelect('i_desc')" filter="true" optionLabel="label" [showClear]="true" required>
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-left: 0px;padding-top: 0px;text-align: center">
                      <label class="label-fontsize" for="marginWt" style="padding-top: 0px;">Margin Wt</label>
                      <div>
                        <label class="label-fontsize" for="marginWt" style="float:left">Kgs</label> <label class="label-fontsize" style="float: right">Gms</label>
                      </div>
                      <input name="marginWt" pInputText [(ngModel)]="MarginNKgs"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==6 && event.keyCode!=8) return false;"
                      autocomplete="off" appDecimalDigit/>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-left: 0px; margin-top: -5px">
                      <label class="label-fontsize" for="marginRate">Rate In Term Of</label>
                      <p-dropdown #margin_rate name="marginRate" [options]="marginRateInTermsOptions"
                        [(ngModel)]="MarginRateInTerms" (onClick)="onSelect('wmt')" filter="true" optionLabel="label" [showClear]="true" required>
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-left: 0px;padding-top: 0px;text-align: center">
                      <label class="label-fontsize" for="mRate" style="padding-top: 0px;">Margin Rate</label>
                      <div>
                        <label class="label-fontsize" for="mRate" style="float:left">Rs</label> <label class="label-fontsize" style="float: right">Ps</label>
                      </div>
                      <input name="mRate" pInputText [(ngModel)]="MarginRate"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==6 && event.keyCode!=8) return false;"
                      autocomplete="off"/>
                    </div>
                    <div class="ui-g-6 ui-md-1" style="padding-left: 0px;padding-top: 0px;text-align: center">
                      <label class="label-fontsize" for="mAmnt" style="padding-top: 0px;">Margin Amount</label>
                      <div>
                        <label class="label-fontsize" for="mAmnt" style="float:left">Rs</label> <label class="label-fontsize" style="float: right">Ps</label>
                      </div>
                      <input name="mAmnt" pInputText [(ngModel)]="MarginAmount" [readonly]="true"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==6 && event.keyCode!=8) return false;"
                      autocomplete="off"/>
                    </div>
                    <div class="ui-g-1">
                      <div class="ui-g-12"></div>
                      <div class="ui-g-10" style="padding-top: 12px">
                        <button pButton label="Enter" (click)="onEnter('Item2')"></button></div>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-md-12 ui-fluid">
                    <p-table [columns]="itemSchemeCols" [value]="itemSchemeData" [responsive]="true" [scrollable]="true"
                      scrollHeight="150px">
                      <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                          <col *ngFor="let col of columns" style="width:80px">
                        </colgroup>
                      </ng-template>
                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th *ngFor="let col of columns">
                            {{col.header}}
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                          <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                  <div class="ui-g-12">
                    <div class="ui-g-6 ui-md-3 dashboard">
                      <span class="ui-float-label" style="padding-right: 0px">
                        <label for="grandTotal" style="padding-left: 5px">Grand Total</label>
                        <input name="grandTotal" id="float-input" [(ngModel)]="GrandTotal" pInputText
                          autocomplete="off" appDecimalDigit/>
                      </span>
                    </div>
                  </div>
                  <div class="ui-g-10 ui-md-10"></div>
                  <div class="ui-g-2 ui-md-1">
                    <button style="margin-top: 5px" type="button" pButton label=Prev (click)="openPrev()"></button>
                  </div>
                  <div class="ui-g-2 ui-md-1">
                    <button style="margin-top: 5px" type="button" pButton label=Next (click)="openNext()"></button>
                  </div>
                </div>
              </p-tabPanel>

              <p-tabPanel header="Payment Details">
                <div class="ui-g-12 ui-fluid" style="border: 1px solid #18c5a9">
                  <div class="ui-g-12 no-pad-top no-left-pad" style="text-align: center;">
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-right: 10px;padding-top: 20px;">
                        <p-dropdown #pay id="float-input" [options]="paymentOptions" [(ngModel)]="Payment"
                          (onClick)="onSelect('pay')" filter="true" name="payment" optionLabel="label" [showClear]="true" required>
                          <ng-template let-item pTemplate="selectedItem">
                            <span style="vertical-align:middle">{{item.label}}</span>
                          </ng-template>
                        </p-dropdown>
                        <label for="payment" class="float-input" style="padding-top: 10px;">Payment Mode</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-right: 10px;padding-top: 20px;">
                        <input name="ch/dd" id="float-input" [(ngModel)]="OcrNo" pInputText autocomplete="off">
                        <label for="ch/dd" class="float-input" style="padding-top: 10px;">CH/DD/PO/OCR No</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <div style="padding-right: 10px;padding-top: 20px;">
                        <p-calendar name="Pdate" [(ngModel)]="PDate" [maxDate]="maxDate" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                      </div>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-right: 10px;padding-top: 20px;">
                        <input name="payAmnt" id="float-input" [(ngModel)]="PAmount" pInputText autocomplete="off" appDecimalDigit>
                        <label for="payAmnt" class="float-input" style="padding-top: 10px;">Payable Amount</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-3" style="padding-left: 0px">
                      <span class="ui-float-label" style="padding-right: 10px;padding-top: 20px;">
                        <input name="onBank" id="float-input" [(ngModel)]="OnBank" pInputText autocomplete="off">
                        <label for="onBank" class="float-input" style="padding-top: 10px;">On bank</label>
                      </span>
                    </div>
                    <div class="ui-g-4 ui-md-1">
                      <div style="padding-right: 10px;padding-top: 20px;">
                        <button pButton label="Enter" (click)="onEnter()"></button></div>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-md-12 ui-fluid  no-left-pad">
                    <p-table [columns]="paymentCols" [value]="paymentData" [responsive]="true" [scrollable]="true"
                      scrollHeight="150px">
                      <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                          <col *ngFor="let col of columns" style="width:80px">
                        </colgroup>
                      </ng-template>
                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th *ngFor="let col of columns">
                            {{col.header}}
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                          <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                  <div class="ui-g-12 ui-md-12 ui-fluid no-left-pad">
                        <div class="ui-g-9 ui-md-9 dashboard">
                          <div class="ui-g-12 ui-md-12 dashboard">
                            <div class="ui-g-6 ui-md-2">
                              <span class="ui-float-label">
                                <input name="PDNo" [(ngModel)]="PrevOrderNo" id="float-input" pInputText
                                  autocomplete="off">
                                <label for="PDNo" class="float-input">Previous Delivery Order No</label>
                              </span>
                            </div>
                            <div class="ui-g-6 ui-md-2">
                              <p-calendar name="PDDate" [(ngModel)]="PrevOrderDate" [showIcon]="true"></p-calendar>
                            </div>
                            <div class="ui-g-6 ui-md-2">
                              <span class="ui-float-label">
                                <input name="PrvAmnt" id="float-input" [(ngModel)]="PrevAmount" pInputText
                                  autocomplete="off" appDecimalDigit>
                                <label for="PrvAmnt" class="float-input">Pre Amt Bal</label>
                              </span>
                            </div>
                            <div class="ui-g-12 ui-md-3">
                              <label style="font-size: 10px"><b>(Pre.AmtBal+AmtPay)-(AmtDue+Others)=Balance>>>For
                                  Credit</b></label>
                            </div>
                            <div class="ui-g-4 ui-md-2">
                              <button pButton label="Enter" (click)="onEnter()"></button>
                            </div>
                          </div>
                          <div class="ui-g-12">
                            <label style="font-size: 10px"><b>(Pre.AmtBal+AmtDue+Others)-(AmtPaid)=Balance>>>For
                                Debit</b></label>
                          </div>
                          <div class="ui-g-12">
                            <div class="ui-g-6 ui-md-3">
                              <button style="padding: 0px" pButton label="Get Previous Balance"></button>
                            </div>
                            <div class="ui-g-6 ui-md-2">
                              <span class="ui-float-label">
                                <input name="otherAmnt" id="float-input" [(ngModel)]="OtherAmount" pInputText
                                  autocomplete="off" appDecimalDigit>
                                <label for="otherAmnt" class="float-input">Other Amt</label>
                              </span>
                            </div>
                            <div class="ui-g-2">
                              <span class="ui-float-label">
                                <input name="balance" id="float-input" [(ngModel)]="Balance" pInputText
                                  autocomplete="off" appDecimalDigit>
                                <label for="balance" class="float-input">Balance</label>
                              </span>
                            </div>
                            <div class="ui-g-4 ui-fluid no-pad-top no-left-pad" style="text-align: center;padding-right: 10px;padding-left:20px">
                              <div class="dashboard">
                                <label for="Adjustment" class="dashboard" style="font-size: 14px">
                                  Adjustment Type
                                </label> </div>
                              <div class="ui-g-6">
                                <p-radioButton name="groupname" label="Credit" value="val1" [(ngModel)]="selectedValue">
                                </p-radioButton>
                              </div>
                              <div class="ui-g-6">
                                <p-radioButton name="groupname" label="Debit" value="val2" [(ngModel)]="selectedValue">
                                </p-radioButton>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="ui-g-3">
                          <p-fieldset legend="Current Do">
                            <div class="ui-g-2"></div>
                            <div class="ui-g-8">
                              <span class="ui-float-label">
                                <input name="dueAmnt" id="float-input" [(ngModel)]="DueAmount" pInputText
                                  autocomplete="off" appDecimalDigit>
                                <label for="dueAmnt" class="float-input">Amt Due</label>
                              </span>
                            </div>
                            <div class="ui-g-12">
                              <div class="ui-g-6">
                                <span class="ui-float-label">
                                  <input name="paidAmnt" id="float-input" [(ngModel)]="PaidAmount" pInputText
                                    autocomplete="off" appDecimalDigit>
                                  <label for="paidAmnt" class="float-input">Amt Paid</label>
                                </span></div>
                              <div class="ui-g-6">
                                <span class="ui-float-label">
                                  <input name="balAmnt" id="float-input" [(ngModel)]="BalanceAmount" pInputText
                                    autocomplete="off" appDecimalDigit>
                                  <label for="balAmnt" class="float-input">Balance Amt</label>
                                </span></div>
                            </div>
                          </p-fieldset>
                        </div>
                  </div>
                  <div class="ui-g-12 ui-fluid no-left-pad">
                    <p-table [columns]="paymentBalCols" [value]="paymentBalData" [responsive]="true" [scrollable]="true"
                      scrollHeight="150px">
                      <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                          <col *ngFor="let col of columns" style="width:80px">
                        </colgroup>
                      </ng-template>
                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th *ngFor="let col of columns">
                            {{col.header}}
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                          <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                  <div class="ui-g-10 ui-md-11"></div>
                  <div class="ui-g-2 ui-md-1">
                    <button class="ui-g-6 ui-md-1 dashboard" style="float: right; margin-top: 5px" type="button" pButton
                      label=Prev (click)="openPrev()"></button></div>
                </div>
              </p-tabPanel>
            </p-tabView>
            <div class="ui-g-12">
              <div class="ui-g-10"></div>
              <div class="ui-g-2" style="float: right;">
                <div style="padding: 0px 10px 0px 0px; ">
                  <button class="ui-g-6 dashboard" style="margin-right: 2px" pButton type="button" label="Print"
                    (click)="onPrint()"></button>
                </div>
                <div style="padding: 0px">
                  <button class="ui-g-6 dashboard" pButton type="button" [disabled]="!f.valid" label="Save" (click)="onSave()"></button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </p-panel>
</div>