<app-header></app-header>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
  <app-menu *ngIf="canShowMenu"></app-menu>
  <p-panel>
    <p-header>
      <div class="ui-g panel-header">
        <div class="ui-g-12 ui-md-4 dashboard">Delivery Order Slip</div>
      </div>
    </p-header>
    <p-toast position="center" key="t-err" [hideTransitionOptions]="'500ms'"></p-toast>
    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
    <div class="ibox-body">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <form #f="ngForm" name="deliveryForm">
            <p-tabView [activeIndex]="index">
              <p-tabPanel header="Delivery Details">
                <div class="ui-g-12 ui-fluid" style="border: 1px solid #18c5a9">
                  <div class="ui-g-12">
                    <div class="ui-g-6 ui-md-2">
                      <label class="label-fontsize" for="DoNo">Delivery Order No</label>
                      <input name="DoNo" type="text" size="20" pInputText [(ngModel)]="DeliveryOrderNo"
                        [readonly]="true" autocomplete="off">
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <label class="label-fontsize" for="DoDate">Delivery Order Date</label>
                      <p-calendar class="label-fontsize-large" name="DoDate" [maxDate]="maxDate" dateFormat="dd/mm/yy"
                        [(ngModel)]="DeliveryDate" [showIcon]="true" required></p-calendar>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="margin-top: -8px">
                      <label for="Trcode" class="label-fontsize" style="padding-top: 10px;">Transaction Code</label>
                      <p-dropdown #tr name="Trcode" [options]="transactionOptions" (keydown.enter)="onSelect('tr', 'enter')"
                        [(ngModel)]="Trcode" (onClick)="onSelect('tr', 'click')" filter="true" optionLabel="label"
                        [showClear]="true" (onChange)="refreshSelect('tr')" required>
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-right: 10px;padding-top: 20px;">
                        <input name="IdentNo" id="float-input" pInputText [(ngModel)]="IndentNo" autocomplete="off" required>
                        <label for="IdentNo" class="float-input" style="padding-top: 10px;">Indent No</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-right: 10px;">
                      <label class="label-fontsize" for="PDate">Permit Date</label>
                      <p-calendar class="label-fontsize-large" name="PDate" [maxDate]="maxDate" dateFormat="dd/mm/yy"
                        [(ngModel)]="PermitDate" [showIcon]="true" required></p-calendar>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-left: 0px;padding-top: 20px;">
                      <label for="rice" class="ui-g-7 label-fontsize-large">Only Rice</label>
                      <p-checkbox name="rice" class="ui-g-1" name="groupname" value="Rice" [(ngModel)]="selectedItem"
                        binary="true">
                      </p-checkbox>
                    </div>
                  </div>
                  <div class="ui-g-12">
                    <div class="ui-g-6 ui-md-2" style="margin-top: -20px">
                      <label for="month" class="label-fontsize">Month</label>
                      <p-dropdown #m name="month" id="float-input" [options]="monthOptions" [(ngModel)]="PMonth"
                        (onClick)="onSelect('m', 'click')" (keydown.enter)="onSelect('m', 'enter')"
                        filter="true" optionLabel="label" required>
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="margin-top: -20px">
                      <label for="year" class="label-fontsize">Year</label>
                      <p-dropdown #y name="year" id="float-input" [options]="yearOptions" [(ngModel)]="PYear"
                        (onClick)="onSelect('y', 'click')" (keydown.enter)="onSelect('y', 'enter')" required>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label">
                        <input name="RName" id="float-input" pInputText [(ngModel)]="RegionName" [readonly]="true" autocomplete="off" required>
                        <label for="RName" class="float-input">Region Name</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-left: 0px">
                      <span class="ui-float-label">
                        <input name="GName" id="float-input" pInputText [(ngModel)]="GodownName" [readonly]="true" autocomplete="off" required>
                        <label for="GName" class="float-input">Issuing Godown Name</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="margin-top: -20px">
                      <label for="Rtcode" class="label-fontsize">Receivor Type</label>
                      <p-dropdown #rt name="Rtcode" [options]="receivorTypeOptions" [(ngModel)]="RTCode"
                        (onClick)="onSelect('rt', 'click')" (keydown.enter)="onSelect('rt', 'enter')"
                        (onChange)="refreshSelect('rt')" filter="true" optionLabel="label"
                        [showClear]="true" required>
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="margin-top: -20px">
                      <label for="Pname" class="label-fontsize">Party Name</label>
                      <p-dropdown #pn name="Pname" [options]="partyNameOptions" [(ngModel)]="PName"
                        (onClick)="onSelect('pn', 'click')" (keydown.enter)="onSelect('pn', 'enter')"
                        filter="true" optionLabel="label" [showClear]="true" required>
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                  </div>
                  <div class="ui-g-12">
                    <div class="ui-g-10 ui-md-10" style="margin-top: -24px">
                      <label class="label-fontsize" for="Instructions">Special Instructions If Any</label>
                      <textarea name="Instructions" [rows]="3" [cols]="110" [(ngModel)]="Remarks"
                        pInputTextarea required></textarea>
                    </div>
                    <div class="ui-g-2 ui-md-2">
                      <button pButton type="button" label="Payment Details" [disabled]="(!Trcode || !DeliveryDate || !PName)" (click)="checkPayment()"></button>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-fluid">
                    <div class="ui-g-12 no-pad-top">
                      <p-table [columns]="deliveryCols" [value]="deliveryData" [responsive]="true" [scrollable]="true"
                        scrollHeight="150px">
                        <ng-template pTemplate="colgroup" let-columns>
                          <colgroup>
                            <col *ngFor="let col of columns" style="width:80px">
                          </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                          <tr>
                            <th *ngFor="let col of columns">
                              {{col.header}}
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                          <tr [pSelectableRow]="rowData">
                            <td *ngFor="let col of columns">
                              {{rowData[col.field]}}
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>
                  <div class="ui-g-10 ui-md-11"></div>
                  <div class="ui-g-2 ui-md-1">
                    <button class="ui-g-6 ui-md-1 dashboard" style="float: right; margin-top: 5px" type="button" pButton
                      label=Next (click)="openNext()"></button>
                  </div>
                </div>
              </p-tabPanel>

              <p-tabPanel header="Item Details">
                <div class="ui-g-12 ui-fluid" style="border: 1px solid #18c5a9">
                  <div class="ui-g-12" style="text-align: center">
                    <div class="ui-g-6 ui-md-2" style="padding-left: 0px">
                      <label class="label-fontsize" for="scheme" style="padding-top: 10px;">Scheme</label>
                      <p-dropdown #sc name="scheme" [options]="schemeOptions" [(ngModel)]="Scheme"
                        (onClick)="onSelect('scheme', 'click')" (keydown.enter)="onSelect('scheme', 'enter')"
                         filter="true" optionLabel="label" (onChange)="refreshSelect('sc')" [showClear]="true">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-left: 0px;text-align: center">
                      <label class="label-fontsize" for="idesc" style="padding-top: 10px;">Item Description</label>
                      <p-dropdown #i_desc name="idesc" [options]="itemDescOptions" [(ngModel)]="ICode"
                        (onClick)="onSelect('commodity', 'click')" (keydown.enter)="onSelect('commodity', 'enter')"
                         filter="true" optionLabel="label" [showClear]="true">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-left: 0px;padding-top: 0px;text-align: center">
                      <label class="label-fontsize" for="Nkgs" style="padding-top: 0px;">Net Wt</label>
                      <div>
                        <label class="label-fontsize" for="Nkgs" style="float:left">Kgs</label> <label
                          class="label-fontsize" style="float: right">Gms</label>
                      </div>
                      <input name="Nkgs" pInputText [(ngModel)]="NKgs" (input)="calculateTotal()" autocomplete="off"
                        appDecimalDigit />
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-left: 0px; margin-top: 5px">
                      <label class="label-fontsize" for="rate">Rate In Term Of</label>
                      <p-dropdown #rate name="rate" [options]="rateInTermsOptions" [(ngModel)]="RateTerm"
                        (onClick)="onSelect('wmt', 'click')" (keydown.enter)="onSelect('wmt', 'enter')" filter="true" optionLabel="label"
                        [showClear]="true">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-1" style="padding-left: 0px;padding-top: 0px;text-align: center">
                      <label class="label-fontsize" for="Raters" style="padding-top: 0px;">Rate</label>
                      <div>
                        <label class="label-fontsize" for="Raters" style="float:left">Rs</label> <label
                          class="label-fontsize" style="float: right">Ps</label>
                      </div>
                      <input class="ui-g-12" name="RateRs" pInputText [(ngModel)]="Rate" autocomplete="off"
                        (input)="calculateTotal()" appDecimalAmount />
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-left: 0px;padding-top: 0px;text-align: center">
                      <label class="label-fontsize" for="total" style="padding-top: 0px;">Total</label>
                      <div>
                        <label class="label-fontsize" for="total" style="float:left">Rs</label> <label
                          class="label-fontsize" style="float: right">Ps</label>
                      </div>
                      <input name="total" pInputText [(ngModel)]="TotalAmount" [readonly]="true" autocomplete="off" />
                    </div>
                    <div class="ui-g-1" style="margin-top: 25px">
                      <button class="ui-g-12 dashboard" pButton label="Enter"
                        [disabled]="(!Scheme || !ICode || !Rate || !RateTerm || !TotalAmount || !NKgs)"
                        (click)="onEnter('Item')"></button></div>
                  </div>
                  <div class="ui-g-12 ui-md-12 ui-fluid">
                    <p-table [columns]="itemCols" [value]="itemData" [responsive]="true" [scrollable]="true"
                      scrollHeight="150px">
                      <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                          <col *ngFor="let col of columns" style="width:80px">
                        </colgroup>
                      </ng-template>
                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th *ngFor="let col of columns">
                            {{col.header}}
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="rowData" (dblclick)="deleteRow('item', rowData, rowIndex)">
                          <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                  <div class="ui-g-12" style="text-align: center">
                    <div class="ui-g-6 ui-md-2" style="padding-left: 0px">
                      <label class="label-fontsize" for="marginScheme" style="padding-top: 10px;">Scheme</label>
                      <p-dropdown #ms [options]="marginSchemeOptions" [(ngModel)]="MarginScheme"
                        (onClick)="onSelect('margin_scheme', 'click')" (keydown.enter)="onSelect('margin_scheme', 'enter')"
                        filter="true" name="marginScheme" (onChange)="refreshSelect('msc')" optionLabel="label" [showClear]="true">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-left: 0px;text-align: center">
                      <label class="label-fontsize" for="marginItem" style="padding-top: 10px;">Item Description</label>
                      <p-dropdown #margin_id name="marginItem" [options]="marginItemDescOptions" [(ngModel)]="MICode"
                        (onClick)="onSelect('margin_commodity', 'click')" (keydown.enter)="onSelect('margin_commodity', 'enter')"
                        filter="true" optionLabel="label" [showClear]="true">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-left: 0px;padding-top: 0px;text-align: center">
                      <label class="label-fontsize" for="marginWt" style="padding-top: 0px;">Margin Wt</label>
                      <div>
                        <label class="label-fontsize" for="marginWt" style="float:left">Kgs</label> <label
                          class="label-fontsize" style="float: right">Gms</label>
                      </div>
                      <input name="marginWt" pInputText [(ngModel)]="MarginNKgs" (input)="calculateTotal()"
                        autocomplete="off" appDecimalDigit />
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-left: 0px; margin-top: 5px">
                      <label class="label-fontsize" for="marginRate">Rate In Term Of</label>
                      <p-dropdown #margin_rate name="marginRate" [options]="marginRateInTermsOptions"
                        (keydown.enter)="onSelect('margin_wmt', 'enter')" [(ngModel)]="MarginRateInTerms" 
                        (onClick)="onSelect('margin_wmt', 'click')" filter="true" optionLabel="label" [showClear]="true">
                        <ng-template let-item pTemplate="selectedItem">
                          <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-1" style="padding-left: 0px;padding-top: 0px;text-align: center">
                      <label class="label-fontsize" for="mRate" style="padding-top: 0px;">Margin Rate</label>
                      <div>
                        <label class="label-fontsize" for="mRate" style="float:left">Rs</label> <label
                          class="label-fontsize" style="float: right">Ps</label>
                      </div>
                      <input name="mRate" pInputText [(ngModel)]="MarginRate" (input)="calculateTotal()"
                        autocomplete="off" appDecimalAmount />
                    </div>
                    <div class="ui-g-6 ui-md-2" style="padding-left: 0px;padding-top: 0px;text-align: center">
                      <label class="label-fontsize" for="mAmnt" style="padding-top: 0px;">Margin Amount</label>
                      <div>
                        <label class="label-fontsize" for="mAmnt" style="float:left">Rs</label> <label
                          class="label-fontsize" style="float: right">Ps</label>
                      </div>
                      <input name="mAmnt" pInputText [(ngModel)]="MarginAmount" [readonly]="true" autocomplete="off" />
                    </div>
                    <div class="ui-g-1" style="margin-top: 25px">
                      <button class="ui-g-12 dashboard" pButton label="Enter"
                        [disabled]="(!MarginScheme || !MICode || !MarginRateInTerms || !MarginRate || !MarginAmount)"
                        (click)="onEnter('MarginItem')"></button></div>
                  </div>
                  <div class="ui-g-12 ui-md-12 ui-fluid">
                    <p-table [columns]="itemSchemeCols" [value]="itemSchemeData" [responsive]="true" [scrollable]="true"
                      scrollHeight="150px">
                      <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                          <col *ngFor="let col of columns" style="width:80px">
                        </colgroup>
                      </ng-template>
                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th *ngFor="let col of columns">
                            {{col.header}}
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="rowData" (dblclick)="deleteRow('scheme', rowData, rowIndex)">
                          <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                  <div class="ui-g-12">
                    <div class="ui-g-6 ui-md-3 no-left-pad">
                      <span class="ui-float-label">
                        <input name="GUtilised" id="float-input" pInputText [(ngModel)]="GrandTotal"
                          oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                          autocomplete="off" [readonly]="true" required>
                        <label for="GrandTotal" class="float-input">Grand Total</label>
                      </span>
                    </div>
                  </div>
                  <div class="ui-g-10 ui-md-10"></div>
                  <div class="ui-g-2 ui-md-1">
                    <button style="margin-top: 5px" type="button" pButton label=Prev (click)="openPrev()"></button>
                  </div>
                  <div class="ui-g-2 ui-md-1">
                    <button style="margin-top: 5px" type="button" pButton label=Next (click)="openNext()"></button>
                  </div>
                </div>
              </p-tabPanel>

              <p-tabPanel header="Payment Details">
                <div class="ui-g-12 ui-fluid" style="border: 1px solid #18c5a9">
                  <div class="ui-g-12 no-pad-top no-left-pad">
                    <div class="ui-g-6 ui-md-2">
                        <label  class="label-fontsize" for="payment">Payment Mode</label>
                        <p-dropdown #pay [options]="paymentOptions" [(ngModel)]="Payment"
                          (onClick)="onSelect('pay', 'click')" autoDisplayFirst="true" 
                          (keydown.enter)="onSelect('pay', 'enter')" filter="true" name="payment"
                          [showClear]="true">
                          <ng-template let-item pTemplate="selectedItem">
                            <span style="vertical-align:middle">{{item.label}}</span>
                          </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-right: 10px;padding-top: 20px;">
                        <input name="ch/dd" id="float-input" type="text" minlength="1" maxlength="10"
                          [(ngModel)]="ChequeNo" pInputText autocomplete="off">
                        <label for="ch/dd" class="float-input" style="padding-top: 10px;">CH/DD/PO/OCR No</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <div style="padding-right: 10px;padding-top: 20px;">
                        <p-calendar name="Pdate" [(ngModel)]="ChequeDate" [maxDate]="maxDate" dateFormat="dd/mm/yy"
                          [showIcon]="true"></p-calendar>
                      </div>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-right: 10px;padding-top: 20px;">
                        <input name="payAmnt" id="float-input" [(ngModel)]="PAmount" pInputText autocomplete="off"
                        appDecimalAmount>
                        <label for="payAmnt" class="float-input" style="padding-top: 10px;">Payable Amount</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label" style="padding-right: 10px;padding-top: 20px;">
                        <input name="payAt" type="text" id="float-input" [(ngModel)]="PayableAt" pInputText
                        style="text-transform: uppercase !important" autocomplete="off">
                        <label for="payAt" class="float-input" style="padding-top: 10px;">Payable At</label>
                      </span>
                    </div>
                    <div class="ui-g-12 dashboard">
                      <div class="ui-g-6 ui-md-4">
                        <span class="ui-float-label" style="padding-right: 10px;padding-top: 20px;">
                          <input name="onBank" id="float-input" [(ngModel)]="OnBank"
                          style="text-transform: uppercase !important" pInputText autocomplete="off">
                          <label for="onBank" class="float-input" style="padding-top: 10px;">On bank</label>
                        </span>
                      </div>
                      <div class="ui-g-4 ui-md-1">
                        <div style="padding-right: 10px;padding-top: 20px;">
                          <button pButton label="Enter"
                            [disabled]="(!PayableAt || !OnBank || !PAmount || !Payment || !ChequeDate || !ChequeNo)"
                            (click)="onEnter('Payment')"></button></div>
                      </div>
                     <!-- <div class="dashboard" style="border: .7px solid #18c5a9"> -->
                      <div class="ui-g-4 ui-md-2">
                          <span class="ui-float-label"  style="padding-right: 10px;padding-top: 20px;">
                              <input name="dueAmnt" id="float-input" [(ngModel)]="DueAmount" [readonly]="true" pInputText autocomplete="off">
                              <label for="dueAmnt" class="float-input" style="padding-top: 10px;">Amt Due</label>
                            </span>
                      </div>
                      <div class="ui-g-4 ui-md-2">
                          <span class="ui-float-label"  style="padding-right: 10px;padding-top: 20px;">
                              <input name="paidAmnt" id="float-input" [(ngModel)]="PaidAmount" [readonly]="true" pInputText
                                autocomplete="off">
                              <label for="paidAmnt" class="float-input" style="padding-top: 10px;">Amt Paid</label>
                            </span>
                      </div>
                      <div class="ui-g-4 ui-md-2">
                          <span class="ui-float-label"  style="padding-right: 10px;padding-top: 20px;">
                              <input name="balAmnt" id="float-input" [(ngModel)]="BalanceAmount" [readonly]="true" pInputText
                                autocomplete="off">
                              <label for="balAmnt" class="float-input" style="padding-top: 10px;">Balance Amt</label>
                            </span>
                      </div>
                    </div>
                  <!-- </div> -->
                  </div>
                  <hr class="ui-g-12 dashboard" style="border: 1px solid #18c5a9">
                  <div class="ui-g-12 ui-md-12 ui-fluid no-left-pad">
                    <p-table [columns]="paymentCols" [value]="paymentData" [responsive]="true" [scrollable]="true"
                      scrollHeight="150px">
                      <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                          <col *ngFor="let col of columns" style="width:80px">
                        </colgroup>
                      </ng-template>
                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th *ngFor="let col of columns">
                            {{col.header}}
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="rowData" (dblclick)="deleteRow('payment', rowData, rowIndex)">
                          <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                  <hr class="ui-g-12 dashboard" style="border: 1px solid #18c5a9">
                  <div class="ui-g-12 ui-md-12 no-left-pad">
                    <div class="ui-g-4 ui-md-1">
                      <button style="padding: 0px" pButton label="Get" pTooltip="Get Previous Balance"
                      (click)="getPreviousBalance()" [disabled]="(!DeliveryDate || !PName)" 
                      tooltipPosition="top"></button>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label">
                        <input name="PDNo" [(ngModel)]="PrevOrderNo" type="text" id="float-input" pInputText autocomplete="off">
                        <label for="PDNo" class="float-input">Previous DoNo</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <p-calendar name="PDDate" dateFormat="dd/mm/yy" [(ngModel)]="PrevOrderDate" [maxDate]="maxDate" [showIcon]="true"></p-calendar>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label">
                        <input name="AdjusmentAmount" id="float-input" [(ngModel)]="AdjusmentAmount" pInputText
                        type="number" [readonly]="true" autocomplete="off" >
                        <label for="PrvAmnt" class="float-input">Pre Amt Bal</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label">
                        <input name="otherAmnt" id="float-input" type="number" [(ngModel)]="OtherAmount" pInputText autocomplete="off" appDecimalAmount>
                        <label for="otherAmnt" class="float-input">Other Amt</label>
                      </span>
                    </div>
                    <div class="ui-g-6 ui-md-2">
                      <span class="ui-float-label">
                        <input name="balance" id="float-input" type="number" [(ngModel)]="Balance" pInputText autocomplete="off"
                        [readonly]="true" >
                        <label for="balance" class="float-input">Balance</label>
                      </span>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-md-12 no-left-pad">
                    <div class="ui-g-4 ui-md-1">
                      <p-radioButton name="groupname" label="Credit" value="Credit" [(ngModel)]="AdjustmentType" (onClick)="onCalculateBalance()">
                      </p-radioButton>
                    </div>
                    <div class="ui-g-4 ui-md-1">
                      <p-radioButton name="groupname" label="Debit" value="Debit" [(ngModel)]="AdjustmentType"  (onClick)="onCalculateBalance()">
                      </p-radioButton>
                    </div>
                    <div class="ui-g-4 ui-md-1">
                      <button pButton label="Enter"
                        [disabled]="(!PrevOrderNo || !PrevOrderDate || !AdjustmentType || AdjusmentAmount==null || OtherAmount==null || Balance==null)"
                        (click)="onEnter('Adjustment')"></button>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <label style="font-size: 12px; color: rgb(197, 10, 10);"><b>*(Pre.AmtBal+AmtPay)-(AmtDue+Others)=Balance>>>For
                            Credit</b></label>
                      </div> 
                      <div class="ui-g-12 ui-md-4">
                          <label style="font-size: 12px; color: rgb(197, 10, 10);;"><b>*(Pre.AmtBal+AmtDue+Others)-(AmtPaid)=Balance>>>For
                              Debit</b></label>
                        </div> 
                  </div>
                  <hr class="ui-g-12 dashboard" style="border: 1px solid #18c5a9">
                  <!-- </div> -->
                  <div class="ui-g-12 ui-fluid no-left-pad">
                    <p-table [columns]="paymentBalCols" [value]="paymentBalData" [responsive]="true" [scrollable]="true"
                      scrollHeight="150px">
                      <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                          <col *ngFor="let col of columns" style="width:80px">
                        </colgroup>
                      </ng-template>
                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th *ngFor="let col of columns">
                            {{col.header}}
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="rowData" (dblclick)="deleteRow('prevBal', rowData, rowIndex)">
                          <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                  <div class="ui-g-10 ui-md-11"></div>
                  <div class="ui-g-2 ui-md-1">
                    <button class="ui-g-6 ui-md-1 dashboard" style="float: right; margin-top: 5px" type="button" pButton
                      label=Prev (click)="openPrev()"></button></div>
                </div>
              </p-tabPanel>
            </p-tabView>
            <div class="ui-g-3 ui-md-9"></div>
            <div class="ui-g-3 ui-md-1 ui-fluid">
              <button style="margin-top:5px" pButton type="button" label=View (click)="onView()"></button>
            </div>
            <div class="ui-g-3 ui-md-1 ui-fluid">
              <button style="margin-top:5px" pButton type="button"
                [disabled]="(!f.valid  || (paymentData.length=='0' && !checkTransactionType)|| itemData.length=='0' || itemSchemeData.length=='0' || paymentBalData.length=='0')" label=Save
                (click)="onSave()"></button>
            </div>
            <div class="ui-g-3 ui-md-1 ui-fluid">
              <button style="margin-top:5px" pButton type="button" [disabled]="!isSaveSucceed" label=Print
                (click)="onPrint()"></button>
            </div>
          </form>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </p-panel>
</div>
<p-dialog header="Delivery-Order-Slip" [contentStyle]="{'overflow':'scroll'}" [modal]="true" [maximizable]="true"
[(visible)]="viewPane" [style]="{width: '75% !important', height: '50% !important'}">
<div>
    <div class="ui-g-6 ui-md-8 no-pad-top">
      <label class="label-fontsize-large">Date</label>
      <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" [maxDate]="maxDate" [(ngModel)]="viewDate" (ngModelChange)="onView()"></p-calendar>
    </div>
     <div class="ui-g-4 ui-md-1 dashboard">
    <button class="ui-md-10 dashboard" pButton label=OK [disabled]="deliveryViewData.length=='0'" (click)="getDocByDoNo()"></button>
  </div>
  <div class="ui-g-4 ui-md-1 dashboard">
      <button class="ui-md-10 dashboard" pButton label=Cancel (click)= "viewPane = false"></button>
    </div>
  </div>
    <div class="ui-g-12 ui-fluid">
        <p-table [columns]="deliveryViewCols" [value]="deliveryViewData" selectionMode="single" [responsive]="true" autoLayout="true" (onRowSelect)="onRowSelect($event)"> 
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns" style="width:80px">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData">
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
</p-dialog>
