<app-header></app-header>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
  <app-menu *ngIf="canShowMenu"></app-menu>
  <div class="page-heading">
    <h4 class="page-title">StockReceiptSlip</h4>
    </div> 
    <div class="page-content fade-in-up">
      <div class="ibox">
          <div class="row">
              <div class="col-md-12">
                      <div class="ibox-body">
                          <ul class="nav nav-tabs tabs-line tabs-line-2x nav-fill tabs-line-success">
                              <li class="nav-item">
                                  <a class="nav-link active" href="#Receipt_CUS" data-toggle="tab"><i class="ti-briefcase mr-2"></i>Receipt</a>
                              </li> 
                          </ul>
                       </div>
               </div>


          </div>
      </div>
    </div>
</div>
            
