<app-header></app-header>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
  <app-menu *ngIf="canShowMenu"></app-menu>
   <!-- <h4 class="page-title">StockReceiptSlip</h4> -->
   <div class="ibox-head">
      <div class="ibox-title">User form</div>
  </div>
      <div class="page-content fade-in-up">
      <div class="ibox">
          <form class="form-info" action="javascript:;">
              
        <div class="ibox-body">
          <div class="row">
              <div class="col-md-12">
                      <div class="ibox-body">
                          <ul class="nav nav-tabs tabs-line tabs-line-2x nav-fill tabs-line-success">
                              <li class="nav-item">
                                  <a class="nav-link active" href="#Receipt" data-toggle="tab"><i class="ti-briefcase mr-2"></i>Receipt Details</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="#Item" data-toggle="tab"><i class="ti-support mr-2"></i>Item Details</a>
                              </li>
                              <li class="nav-item">
                                      <a class="nav-link" href="#Freight" data-toggle="tab"><i class="ti-briefcase mr-2"></i>Freight Details</a>
                              </li> 
                          </ul>
                          
                          <div class="tab-content">
                              <div class="tab-pane fade show active" id="Receipt">
                                <div class="row">
                                        <div class="form-group mb-6">
                                            <div class="ui-g ui-fluid">
                                              <div>
                                                <h5>Stock receipt Acknowledgement</h5><br>
                                                <div class="ui-g-12 ui-md-6 ui-lg-4">
                                              <span class="ui-float-label">
                                              <input id="float-input" type="text" size="30" pInputText> 
                                              <label class="float-input">No</label>
                                          </span>
                                              
                                          </div>

                                        <div class="ui-g-12 ui-md-6 ui-lg-4">
                                              <span class="ui-float-label">
                                                  <input id="float-input" type="text" pInputText> 
                                                  <label class="float-input">Date</label>
                                              </span>
                                            </div>
                                          </div>

                                          <div class="col-md-3">
                                              <h5>Period of Allotment</h5>
                                              
                                              <div class="ui-g-12 ui-md-6 ui-lg-4" style="text-align: center">
                                          
                                                  
                                                      <label>Month</label>
                                                    <p-dropdown>
                                                          
                                                    </p-dropdown>
                                                  
                                                     
                                              </div>
                                                  <div class="ui-g-12 ui-md-6 ui-lg-4">
                                          
                                                  
                                                      <label>Year</label>
                                                    <p-dropdown>
                                                          <select class="form-control" class="ui-float-label">
                                                                  <option value="">Jan</option>
                                                                  <option value="">Feb</option>
                                                                  <option value="">Others</option>
                                                              </select>
                                                    </p-dropdown>
                                                  
                                                     
                                                  </div>
                                          </div>

                                          <div>
                                              <h5>Allotment/Release Order No</h5><br>
                                            <div class="ui-g-12 ui-md-6 ui-lg-4">
                                                <span class="ui-float-label">
                                                <input id="float-input" type="text" size="60" pInputText> 
                                                <label class="float-input">OrderNo</label>
                                            </span>
                                                </div>
                                            </div>
                                        <div><br>
                                         <h5>Allotment/Release Order Date</h5><br>
                                         <div class="ui-g-12 ui-md-6 ui-lg-4">
                                          
                                         
                                          <span class="ui-float-label">
                                          <input id="float-input" type="text" size="40" pInputText> 
                                          <label class="float-input">Date</label>
                                          
                                          
                                                          

                                      </span>
                                        </div> <br>
                                        <div style="text-align:end">
                                        <p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues">Rail Head</p-checkbox>       
                                      </div> 
                                    </div>
                                      <div>
                                     
                                    </div>

                                      
                    </div>
                  </div>
                </div>
              </div>
           </div>
        </div>
     </div>


          </div>
      </div>
      </form>
    </div>
</div>
        </div>
         
