<app-header></app-header>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
  <app-menu *ngIf="canShowMenu"></app-menu>
  <p-panel>
    <p-header>
      <div class="ui-g panel-header">
        <div class="ui-g-12 ui-md-4 dashboard">Stock Receipt Slip</div>
      </div>
    </p-header>
    <p-toast class="ui-toast-message-success" position="center" key="t-success"></p-toast>
    <p-toast class="ui-toast-message-error" position="center" key="t-err"></p-toast>
    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
    <div class="ibox-body">
      <div class="row">
        <div class="col-md-1"></div>
        <div id="tabs" #tabs class="col-md-10">
          <form #f="ngForm" name="receiptForm">
            <p-tabView [activeIndex]="index">
            <p-tabPanel header="Receipt Details">
              <div class="ui-g-12 ui-fluid" style="border: 1px solid #18c5a9">
                <div class="ui-g-12 ui-md-4 ui-fluid">
                  <p-card>
                    <p-header>
                      <div class="label-fontsize-large dashboard" style="text-align: center">
                        STOCK RECEIPT ACKNOWLEDGEMENT
                      </div>
                    </p-header>
                    <div class="ui-g ui-md-12 ui-fluid  dashboard">
                      <div class="ui-g-12 ui-md-6" style="margin-top: -20px">
                        <label for="SRNo" class="label-fontsize">No</label>
                        <input name="SRNo" type="text" size="15" pInputText [(ngModel)]="SRNo" autocomplete="off" [readOnly]="true">
                      </div>
                      <div class="ui-g-12 ui-md-6" style="margin-top: -20px">
                        <label for="SRDate" class="label-fontsize">Date</label>
                        <p-calendar name="SRDate" [showIcon]="true" dateFormat="dd/mm/yy" [maxDate]="maxDate" [(ngModel)]="SRDate" required></p-calendar>
                      </div>
                    </div>
                  </p-card>
                </div>
                <div class="ui-g-12 ui-md-3 ui-fluid" style="text-align: center">
                  <div class="dashboard label-fontsize-large">
                    Period of Allotment
                  </div>
                  <br>
                  <div class="ui-g-12 ui-md-6 ui-fluid" style="margin-top: -20px">
                    <label class="label-fontsize">Month</label>
                    <p-dropdown #m name="Month" id="float-input" [options]="monthOptions" [(ngModel)]="month"
                      (onClick)="onSelect('m')" (keydown.enter)="onSelect('m')" filter="true" optionLabel="label"
                       [showClear]="true" required>
                      <ng-template let-item pTemplate="selectedItem">
                        <span style="vertical-align:middle">{{item.label}}</span>
                      </ng-template>
                    </p-dropdown>
                  </div>
                  <div class="ui-g-12 ui-md-6 ui-fluid" style="margin-top: -20px">
                    <label class="label-fontsize">Year</label>
                    <p-dropdown #y name="Year" id="float-input" [options]="yearOptions" [(ngModel)]="year" (onClick)="onSelect('y')"
                    (keydown.enter)="onSelect('y')"   optionLabel="label" [showClear]="true" required>
                    </p-dropdown>
                  </div>
                </div>
                <div class="ui-g-12 ui-md-2 ui-fluid" style="text-align: center">
                  <div class="ui-g-12 dashboard label-fontsize-large">
                    Allotment/Release Order No
                  </div><br>
                  <div class="ui-g-12 ui-fluid" style="padding-left:15px">
                    <input name="OrderNo" type="text" size="20" [(ngModel)]="OrderNo" maxlength="20" pInputText autocomplete="off" required>
                  </div>
                </div>
                <div class="ui-g-12 ui-md-3 ui-fluid">
                  <label for="OrderDate" class=" label-fontsize-large" style="padding-left: 10px">Allotment/Release Order
                    Date</label><br>
                  <div class="ui-g-12 ui-fluid" style="padding-top: 15px">
                    <p-calendar name="OrderDate" class="ui-g-12" dateFormat="dd/mm/yy" [(ngModel)]="OrderDate" [maxDate]="maxDate" [showIcon]="true">
                    </p-calendar>
                  </div>
                </div>
                <div class="ui-g-12 ui-fluid">
                  <div class="ui-g-12 ui-md-2 ui-fluid">
                    <span class="ui-float-label">
                      <input id="float-input" name="RegionName" type="text" size="20" pInputText autocomplete="off"
                        [(ngModel)]="regionName" [readOnly]="true">
                      <label for="RegionName" class="float-input">Region Name</label>
                    </span>
                  </div>
                  <div class="ui-g-12 ui-md-2 ui-fluid">
                    <span class="ui-float-label">
                      <input id="float-input" name="godownName" type="text" size="20" pInputText autocomplete="off"
                        [(ngModel)]="godownName" [readOnly]="true">
                      <label for="godownName" class="float-input">Receiving Godown</label>
                    </span>
                  </div>
                  <div class="ui-g-12 ui-md-2 ui-fluid">
                    <label class="ui-g-12 ui-md-3 ui-fluid label-fontsize">Road</label>
                    <p-checkbox class="ui-g-1" name="transportmode" value="road" [(ngModel)]="selectedValues" required>
                    </p-checkbox>
                    <label class="ui-g-12 ui-md-6 label-fontsize" style="padding-left: 30px">RailHead</label>
                    <p-checkbox class="ui-g-12 ui-md-1" name="transportmode" value="rail" [(ngModel)]="selectedValues" required>
                    </p-checkbox>
                  </div>
                  <div class="ui-g-12 ui-md-2" style="margin-top: -18px">
                    <label for="Transaction" class="label-fontsize">Transaction Code</label>
                    <p-dropdown name="Transaction" [options]="transactionOptions" [(ngModel)]="Trcode" (onClick)="onSelect('tr')"
                    (keydown.enter)="onSelect('tr')" filter="true" optionLabel="label" [showClear]="true" required>
                      <ng-template let-item pTemplate="selectedItem">
                        <span style="vertical-align:middle">{{item.label}}</span>
                      </ng-template>
                    </p-dropdown>
                  </div>
                  <div class="ui-g-12 ui-md-2" style="margin-top: -18px">
                    <label for="DepositorType" class="label-fontsize">Depositor Type</label>
                    <p-dropdown #dt id="float-input" name="DepositorType" [options]="depositorTypeOptions" [(ngModel)]="DepositorType"
                      (onClick)="onSelect('dt')" (keydown.enter)="onSelect('dt')" filter="true" [disabled]="isDepositorTypeDisabled" optionLabel="label"
                      [showClear]="true" required>
                      <ng-template let-item pTemplate="selectedItem">
                        <span style="vertical-align:middle">{{item.label}}</span>
                      </ng-template>
                    </p-dropdown>
                  </div>
                  <!-- <div *ngIf="isViewClicked" class="ui-g-12 ui-md-2" style="margin-top: -18px">
                      <label class="label-fontsize">Depositor Type</label>
                      <input pInputText [(ngModel)]="depositorType" (click)="onSelect('dt')"/>
                  </div> -->
                  <div class="ui-g-12 ui-md-2" style="margin-top: -18px">
                    <label for="DepositorName" class="label-fontsize">Depositor Name</label>
                    <p-dropdown #dn id="float-input" name="DepositorName" [options]="depositorNameOptions" [(ngModel)]="DepositorCode"
                      (onClick)="onSelect('dn')" (keydown.enter)="onSelect('dn')" filter="true" [disabled]="isDepositorNameDisabled" optionLabel="label"
                      [showClear]="true" required>
                      <ng-template let-item pTemplate="selectedItem">
                        <span style="vertical-align:middle">{{item.label}}</span>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>
                <div class="ui-g-12 ui-fluid">
                  <div class="ui-g-12 ui-md-2 ui-fluid">
                    <span class="ui-float-label">
                      <input id="float-input" name="TruckNo" type="text" size="20" maxlength="20" [(ngModel)]="TruckMemoNo" pInputText
                        autocomplete="off" required>
                      <label for="TruckNo" class="float-input">Truck Memo No</label>
                    </span>
                  </div>
                  <div class="ui-g-12 ui-md-2 ui-fluid" style="margin-top: -18px;">
                    <label for="TruckDate" class="label-fontsize">Truck Memo Date</label>
                    <p-calendar name="TruckDate" [(ngModel)]="TruckMemoDate" dateFormat="dd/mm/yy" [maxDate]="maxDate" [showIcon]="true" required></p-calendar>
                  </div>
                  <div class="ui-g-12 ui-md-2 ui-fluid">
                    <span class="ui-float-label">
                      <input id="float-input" name="VNo" type="text" maxlength="13" size="10" [(ngModel)]="LNo" pInputText
                      oninput="this.value = this.value.replace(/^[A-Z0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" 
                      autocomplete="off" style="text-transform: uppercase !important" required>
                      <label for="VNo" class="float-input">Vehicle No</label>
                    </span>
                  </div>
                  <div class="ui-g-12 ui-md-2 ui-fluid">
                    <span class="ui-float-label">
                      <input id="float-input" name="LFrom" type="text" size="25" maxlength="20" [(ngModel)]="LFrom" pInputText autocomplete="off" required>
                      <label for="LFrom" class="float-input">From</label>
                    </span>
                  </div>
                  <div class="ui-g-12 ui-md-2 ui-fluid">
                    <span class="ui-float-label">
                      <input id="float-input" name="ManualDocNo" type="text" size="20" pInputText maxlength="15" [(ngModel)]="ManualDocNo"
                        autocomplete="off" required>
                      <label for="ManualDocNo" class="float-input">Manual Document No</label>
                    </span>
                  </div>
                </div>
                <div class="ui-g-10 ui-md-11"></div>
                <div class="ui-g-2 ui-md-1">
                  <button class="ui-g-6 ui-md-1 dashboard" style="float: right; margin-top: 5px" type="button" pButton
                   name="nxt" label=Next (click)="openNext()"></button></div>
              </div>
            </p-tabPanel>
            <p-tabPanel header="Item Details">
              <div class="ui-g-12 ui-fluid" style="border: 1px solid #18c5a9">
                <div class="ui-g-12 ui-md-12 ui-fluid">
                  <div class="ui-g-12 ui-md-2 ui-fluid">
                    <label class="label-fontsize">Scheme</label>
                    <p-dropdown #sc id="float-input" name="Scheme" [options]="schemeOptions" [(ngModel)]="Scheme"
                      (onClick)="onSelect('sc')" (keydown.enter)="onSelect('sc')" filter="true" optionLabel="label" [showClear]="true"
                      [autoWidth]="false" [style]="{'width':'100%'}">
                      <ng-template let-item pTemplate="selectedItem">
                        <span style="vertical-align:middle">{{item.label}}</span>
                      </ng-template>
                    </p-dropdown>
                  </div>
                  <div class="ui-g-12 ui-md-2 ui-fluid">
                    <label class="label-fontsize">Item Description</label>
                    <p-dropdown #i_desc id="float-input" name="Commodity" [options]="itemDescOptions" [(ngModel)]="ICode"
                      (onClick)="onSelect('i_desc')" (keydown.enter)="onSelect('i_desc')"
                       filter="true" optionLabel="label" [showClear]="true">
                      <ng-template let-item pTemplate="selectedItem">
                        <span style="vertical-align:middle">{{item.label}}</span>
                      </ng-template>
                    </p-dropdown>
                  </div>
                  <div class="ui-g-12 ui-md-2 ui-fluid">
                    <label class="label-fontsize">Stack No.</label>
                    <p-dropdown #st_no id="float-input" name="TStockNo" [options]="stackOptions" [(ngModel)]="TStockNo"
                      (onClick)="onSelect('st_no')" (keydown.enter)="onSelect('st_no')" filter="true"
                       optionLabel="label" [showClear]="true">
                      <ng-template let-item pTemplate="selectedItem">
                        <span style="vertical-align:middle; word-wrap: break-word">{{item.label}}</span>
                      </ng-template>
                    </p-dropdown>
                  </div>
                  <div class="ui-g-12 ui-md-1">
                    <!-- <span class="ui-float-label"> -->
                    <label for="GodownNo" class="label-fontsize">Godown No</label>
                    <input id="float-input" name="GodownNo" pInputText [(ngModel)]="godownNo" [readOnly]="true">
                    <!-- </span> -->
                  </div>
                  <div class="ui-g-12 ui-md-1" style="margin-top: -10px">
                    <!-- <span class="ui-float-label"> -->
                    <label for="LocNo" class="label-fontsize">Location+Formation No.</label>
                    <input id="float-input" name="LocNo" pInputText [(ngModel)]="locationNo" [readOnly]="true">
                    <!-- </span> -->
                  </div>
                  <div class="ui-g-12 ui-md-2 ui-fluid" style="padding-top: 22px;">
                    <label for="StackYear" class="ui-g-12 ui-md-10 label-fontsize-large"><b>Stack Year -
                        <b>{{stackYear}}</b></b></label>
                  </div>
                  <div class="ui-g-12 ui-md-2 ui-fluid">
                    <label class="label-fontsize">Packing Type</label>
                    <p-dropdown #pt id="float-input" name="PackingType" [options]="packingTypeOptions" [(ngModel)]="IPCode"
                      (onClick)="onSelect('pt')" (keydown.enter)="onSelect('pt')" filter="true"
                       optionLabel="label" [showClear]="true">
                      <ng-template let-item pTemplate="selectedItem">
                        <span style="vertical-align:middle">{{item.label}}</span>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>
                <div class="ui-g-12">
                  <div class="ui-g-12 ui-md-2 ui-fluid" style="margin-top: 10px">
                    <span class="ui-float-label">
                      <input id="float-input" name="NoPacking" pInputText maxlength="4"
                      oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                       [(ngModel)]="NoPacking" (input)="onCalculateKgs()" autocomplete="off">
                      <label for="NoPacking" class="float-input">No.of Packing</label>
                    </span>
                  </div>
                  <div class="ui-g-12 ui-md-2 ui-fluid" style="margin-top: -25px">
                    <p-header>
                      <div class="dashboard label-fontsize-large" style="text-align: center">
                        Gross Wt
                      </div>
                    </p-header>
                    <label for="Nkgs" class="label-fontsize">Kgs</label>
                    <label for="Nkgs" class="label-fontsize" style="float: right">Gms</label>
                    <span class="ui-float-label">
                      <input id="float-input" name="Gkgs" type="text" maxlength="6" [(ngModel)]="GKgs"
                      oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                       size="20" (input)="onCalculateWt()" pInputText autocomplete="off">
                    </span>
                  </div>
                  <div class="ui-g-12 ui-md-2 ui-fluid" style="margin-top: -25px">
                    <p-header>
                      <div class="dashboard label-fontsize-large" style="text-align: center">
                        Net Wt
                      </div>
                    </p-header>
                    <label for="Nkgs" class="label-fontsize">Kgs</label>
                    <label for="Nkgs" class="label-fontsize" style="float: right">Gms</label>
                    <span class="ui-float-label">
                      <input id="float-input" type="text" name="Nkgs" size="20" maxlength="6"
                      oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                       [(ngModel)]="NKgs" pInputText (input)="onCalculateWt()" autocomplete="off">
                    </span>
                  </div>
                  <div class="ui-g-12 ui-md-3 ui-fluid" style="margin-top: -10px">
                    <label class="label-fontsize">WmtType</label>
                    <p-dropdown #wmt id="float-input" name="WmtType" [options]="wmtOptions" [(ngModel)]="WTCode"
                      (onClick)="onSelect('wmt')" (keydown.enter)="onSelect('wmt')" filter="true"
                       optionLabel="label" [showClear]="true">
                      <ng-template let-item pTemplate="selectedItem">
                        <span style="vertical-align:middle">{{item.label}}</span>
                      </ng-template>
                    </p-dropdown>
                  </div>
                  <div class="ui-g-12 ui-md-1 ui-fluid" style="margin-top: 10px;">
                    <span class="ui-float-label">
                      <input id="float-input" name="Moisture" type="text" minlength="1" maxlength="5" size="20" [(ngModel)]="Moisture" pInputText
                        autocomplete="off" (keyup)="parseMoisture($event)"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
                      <label for="Moisture" class="float-input">Moisture</label>
                    </span>
                  </div>
                  <div class="ui-g-12 ui-md-1 ui-fluid" style="margin-top: 10px;">
                    <button pButton type="button" name="enter" label="Enter" (click)="onEnter()"
                    [disabled]="(!Scheme || !Moisture || !ICode || !IPCode || !NoPacking || !WTCode || !TStockNo)"></button>
                  </div>
                </div>
                <div class="ui-g-12 ui-fluid">
                  <div class="ui-g-12 ui-md-2 ui-fluid" style="margin-top: -20px">
                    <p-header>
                      <div class="dashboard label-fontsize-large" style="text-align: center">
                        Tare Wt
                      </div>
                    </p-header>
                    <label for="Tkgs" class="label-fontsize">Kgs</label>
                    <label for="Tkgs" class="label-fontsize" style="float: right">Gms</label>
                    <span class="ui-float-label">
                      <input name="Tkgs" id="float-input" type="text" maxlength="6" size="20" [(ngModel)]="tareWt" pInputText autocomplete="off">
                    </span>
                  </div>
                  <div class="ui-g-12 ui-md-2 ui-fluid" style="margin-top: 16px;">
                    <span class="ui-float-label">
                      <input id="float-input" name="StackBal" pInputText [(ngModel)]="stackBalance" [readonly]="true" autocomplete="off">
                      <label for="StackBal" class="float-input">Stack Balance</label>
                    </span>
                  </div>
                </div>
                <div class="ui-g-12 ui-fluid">
                  <p-table name="itemTable" [columns]="itemCol" [value]="itemData" [responsive]="true" autoLayout="true">
                    <ng-template pTemplate="colgroup" let-columns>
                      <colgroup>
                        <col *ngFor="let col of columns" style="width:80px">
                      </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                      <tr>
                        <th *ngFor="let col of columns">
                          {{col.header}}
                        </th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                      <tr [pSelectableRow]="rowData" (dblclick)="deleteRow('item', rowIndex)">
                        <td *ngFor="let col of columns">
                          {{rowData[col.field]}}
                          <i *ngIf="rowdata?.icon" class="pi pi-trash" aria-hidden="true"></i>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
                <div class="ui-g-10 ui-md-10"></div>
                <div class="ui-g-2 ui-md-1">
                  <button style="margin-top: 5px" name="prev" type="button" pButton label=Prev (click)="openPrev()"></button></div>
                <div class="ui-g-2 ui-md-1">
                  <button style="margin-top: 5px" name="nxt" type="button" pButton label=Next (click)="openNext()"></button></div>
              </div>
            </p-tabPanel>
            <p-tabPanel header="Freight Details">
              <div class="ui-g-12 ui-fluid" style="border: 1px solid #18c5a9">
                <div class="ui-g-12 ui-fluid">
                  <div class="ui-g-6 ui-md-2 ui-fluid">
                    <span class="ui-float-label">
                      <input id="float-input" name="TName" pInputText [(ngModel)]="TransporterName" [disabled]="true"
                        autocomplete="off">
                      <label for="TName" class="float-input">Transporter Name</label>
                    </span>
                  </div>
                  <div class="ui-g-6 ui-md-2 ui-fluid">
                    <span class="ui-float-label">
                      <input id="float-input" name="LWBNo" pInputText [(ngModel)]="LWBillNo" [disabled]="true" autocomplete="off">
                      <label for="LWBNo" class="float-input">Lorry Way Bill No</label>
                    </span>
                  </div>
                  <div class="ui-g-6 ui-md-3 ui-fluid dashboard">
                    <p-calendar class="ui-g-8" name="LWBDate" [(ngModel)]="LWBillDate" [showIcon]="true" [disabled]="true"
                      placeholder="Way Bill Date" dateFormat="dd/mm/yy">
                    </p-calendar>
                    <div class="ui-g-6 ui-md-4 ui-fluid">
                      <span class="ui-float-label">
                        <input id="float-input" name="Kms" pInputText [(ngModel)]="Kilometers" [disabled]="true"
                          autocomplete="off">
                        <label for="Kms" class="float-input">Kms</label>
                      </span>
                    </div>
                  </div>
                  <div class="ui-g-6 ui-md-2 ui-fluid">
                    <span class="ui-float-label">
                      <input id="float-input" name="FreightAmt" pInputText [(ngModel)]="FreightAmount" [disabled]="true"
                        autocomplete="off">
                      <label for="FreightAmt" class="float-input">Freight Amt</label>
                    </span>
                  </div>
                  <div class="ui-g-6 ui-md-3 ui-fluid">
                    <span class="ui-float-label">
                      <input id="float-input" name="WHDReceipt" pInputText [(ngModel)]="WHDNo" [disabled]="true" autocomplete="off">
                      <label for="WHDReceipt" class="float-input">Ware House Deposit Receipt</label>
                    </span>
                  </div>
                </div>
                <div class="ui-g-12 ui-fluid">
                  <div class="ui-g-6 ui-md-2 ui-fluid">
                    <span class="ui-float-label">
                      <input id="float-input" name="Wmt" pInputText [(ngModel)]="WCharges" [disabled]="true" autocomplete="off">
                      <label for="Wmt" class="float-input">Wmt Charges</label>
                    </span>
                  </div>
                  <div class="ui-g-6 ui-md-2 ui-fluid">
                    <span class="ui-float-label">
                      <input id="float-input" name="HChrg" pInputText [(ngModel)]="HCharges" [disabled]="true" autocomplete="off">
                      <label for="HChrg" class="float-input">Handling Charges</label>
                    </span>
                  </div>
                  <div class="ui-g-6 ui-md-2 ui-fluid">
                    <span class="ui-float-label">
                      <input id="float-input" name="UGunny" pInputText [(ngModel)]="GUnserviceable" [disabled]="true"
                        autocomplete="off">
                      <label for="UGunny" class="float-input">Un Serviceable</label>
                    </span>
                  </div>
                  <div class="ui-g-6 ui-md-2 ui-fluid">
                    <span class="ui-float-label">
                      <input id="float-input" name="SGunny" pInputText [(ngModel)]="GServiceable" [disabled]="true"
                        autocomplete="off">
                      <label  for="SGunny" class="float-input">Serviceable Gunny</label>
                    </span>
                  </div>
                  <div class="ui-g-6 ui-md-2 ui-fluid">
                    <span class="ui-float-label">
                      <input id="float-input" name="Patches" pInputText [(ngModel)]="GPatches" [disabled]="true" autocomplete="off">
                      <label for="Patches" class="float-input">Gunny With Patches</label>
                    </span>
                  </div>
                  <div class="ui-g-6 ui-md-2 ui-fluid" style="margin-top: -18px">
                    <label class="label-fontsize">Freight Code</label>
                    <p-dropdown #fc id="float-input" name="FCode" [options]="freightOptions" [disabled]="true" [(ngModel)]="FCode"
                      (onClick)="onSelect('fc')" (keydown.enter)="onSelect('fc')" filter="true" optionLabel="label" [showClear]="true">
                      <ng-template let-item pTemplate="selectedItem">
                        <span style="vertical-align:middle">{{item.label}}</span>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>
                <div class="ui-g-12 ui-fluid">
                  <div class="ui-g-6 ui-md-2 ui-fluid" style="margin-top: -18px">
                    <label class="label-fontsize">Vehicle Code</label>
                    <p-dropdown #vc id="float-input" name="VCode" [options]="vehicleOptions" [disabled]="true" [(ngModel)]="VCode"
                      (onClick)="onSelect('vc')" (keydown.enter)="onSelect('vc')" filter="true" optionLabel="label" [showClear]="true"
                      placeholder="-select-">
                      <ng-template let-item pTemplate="selectedItem">
                        <span style="vertical-align:middle">{{item.label}}</span>
                      </ng-template>
                    </p-dropdown>
                  </div>
                  <div class="ui-g-6 ui-md-2 ui-fluid">
                    <span class="ui-float-label">
                      <input id="float-input" name="GUtilised" pInputText [(ngModel)]="Gunnyutilised" [disabled]="true"
                        autocomplete="off">
                      <label for="GUtilised" class="float-input">Gunny Utilised</label>
                    </span>
                  </div>
                  <div class="ui-g-6 ui-md-2 ui-fluid">
                    <span class="ui-float-label">
                      <input id="float-input" name="GReleased" pInputText [(ngModel)]="GunnyReleased" [disabled]="true"
                        autocomplete="off">
                      <label for="GReleased" class="float-input">Gunny Released</label>
                    </span>
                  </div>
                  <div class="ui-g-6 ui-md-2 ui-fluid">
                    <span class="ui-float-label">
                      <input id="float-input" name="TMno" pInputText [(ngModel)]="mno" [disabled]="true" autocomplete="off">
                      <label for="TMno" class="float-input">Issue/Truck M.no</label>
                    </span>
                  </div>
                  <div class="ui-g-6 ui-md-2 ui-fluid">
                    <span class="ui-float-label">
                      <input id="float-input" name="StockNo" pInputText [(ngModel)]="StockNo" [disabled]="true" autocomplete="off">
                      <label for="StockNo" class="float-input">Stack Number</label>
                    </span>
                  </div>
                  <div class="ui-g-2"></div>
                </div>
                <div class="ui-g-12 ui-fluid" style="border: 1px solid #b4b4b4">
                  <div class="ui-g-6 ui-md-3 ui-fluid" style="margin-top: -18px">
                    <label class="label-fontsize">From Station</label>
                    <p-dropdown #fs id="float-input" name="FStation" [options]="fromStationOptions" [disabled]="true"
                      [(ngModel)]="FStation" (onClick)="onSelect('fs')" filter="true" optionLabel="label"
                      (keydown.enter)="onSelect('fs')" [showClear]="true" placeholder="-select-">
                      <ng-template let-item pTemplate="selectedItem">
                        <span style="vertical-align:middle">{{item.label}}</span>
                      </ng-template>
                    </p-dropdown>
                  </div>
                  <div class="ui-g-6 ui-md-3 ui-fluid" style="margin-top: -18px">
                    <label class="label-fontsize">To Station</label>
                    <p-dropdown #ts id="float-input" name="TStation" [options]="toStationOptions" [disabled]="true"
                      [(ngModel)]="TStation" (onClick)="onSelect('ts')" (keydown.enter)="onSelect('ts')" filter="true" optionLabel="label"
                      [showClear]="true" placeholder="-select-">
                      <ng-template let-item pTemplate="selectedItem">
                        <span style="vertical-align:middle">{{item.label}}</span>
                      </ng-template>
                    </p-dropdown>
                  </div>
                  <div class="ui-g-6 ui-md-2 ui-fluid">
                    <span class="ui-float-label">
                      <input id="float-input" name="RRNo" pInputText [(ngModel)]="RRNo" [disabled]="true" autocomplete="off">
                      <label for="RRNo" class="float-input">R.R.No</label>
                    </span>
                  </div>
                  <div class="ui-g-6 ui-md-2 ui-fluid">
                    <p-calendar [(ngModel)]="LDate" name="LDate" [showIcon]="true" [disabled]="true"
                    dateFormat="dd/mm/yy" placeholder="Loading Date">
                    </p-calendar>
                  </div>
                  <div class="ui-g-6 ui-md-2 ui-fluid">
                    <span class="ui-float-label">
                      <input id="float-input" name="wno" pInputText [(ngModel)]="WNo" [disabled]="true" autocomplete="off">
                      <label for="wno" class="float-input">Wagon No</label>
                    </span>
                  </div>
                </div>
                <div class="ui-g-12 ui-fluid"><br>
                  <div class="ui-g-12 ui-md-6 ui-fluid">
                    <span class="ui-float-label">
                      <textarea rows="4" name="remarks" cols="70" maxlength="250" pInputTextarea [(ngModel)]="Remarks"
                        autoResize="autoResize"></textarea>
                      <label for="remarks" class="float-input">Remarks</label>
                    </span>
                  </div>
                </div>
                <div class="ui-g-10 ui-md-11"></div>
                <div class="ui-g-2 ui-md-1">
                  <button name="prev" class="ui-g-6 ui-md-1 dashboard" style="float: right; margin-top: 5px" type="button" pButton
                    label=Prev (click)="openPrev()"></button></div>
              </div>
            </p-tabPanel>
          </p-tabView>
          <div class="ui-g-3 ui-md-9"></div>
          <div class="ui-g-3 ui-md-1 ui-fluid">
            <button name="view" style="margin-top:5px" pButton type="button" label=View (click)="onView()"></button>
          </div>
          <div class="ui-g-3 ui-md-1 ui-fluid">
            <button name="save" style="margin-top:5px" pButton type="button" [disabled]="(!f.valid || itemData.length=='0')" label=Save (click)="onSave()"></button>
          </div>
          <div class="ui-g-3 ui-md-1 ui-fluid">
            <button name="print" style="margin-top:5px" pButton type="button" [disabled]="isSaveSucceed" label=Print (click)="onPrint()"></button>
          </div>
        </form>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </p-panel>
</div>
<p-dialog header="Stock-Receipt" [contentStyle]="{'overflow':'scroll'}" [modal]="true" [maximizable]="true"
[(visible)]="viewPane" [style]="{width: '75% !important', height: '50% !important'}">
    <div class="ui-g-12 ui-md-2">
        <label class="label-fontsize-large">Date</label>
        <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" [(ngModel)]="viewDate" (ngModelChange)="onView()"></p-calendar>
    </div>
    <div class="ui-g-12 ui-fluid">
        <p-table [columns]="documentViewCol" [value]="documentViewData" selectionMode="single" [responsive]="true" autoLayout="true" (onRowSelect)="onRowSelect($event)"> 
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns" style="width:80px">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData" (dbclick)="deleteRow('view', rowIndex)">
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="ui-g-4 ui-md-10"></div>
      <div class="ui-g-4 ui-md-1 no-right-pad">
        <button class="ui-g-10 dashboard" pButton label=OK [disabled]="documentViewData.length=='0'" (click)="getDocBySRNo()"></button>
      </div>
      <div class="ui-g-4 ui-md-1 no-left-pad">
          <button class="ui-g-10 dashboard" pButton label=Cancel (click)= "viewPane = false"></button>
        </div>
</p-dialog>