<app-header></app-header>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
    <app-menu *ngIf="canShowMenu"></app-menu>
    <p-panel>
        <p-header>
            <div class="ui-g panel-header">
                <div class="ui-g-4 dashboard">Stack Running Card Upto-Date</div>
            </div>
        </p-header>
        <div class="ui-g ui-fluid">
            <p-toast (onClose)="onClose()" position="top-center" key="t-err" [modal]="true"></p-toast>
            <form class="ui-g-12 dashboard" #f="ngForm" name="form">
                <div class="ui-g-12 ui-md-12 ui-lg-12 no-pad-top no-left-pad">
                    <div class="ui-g-12 no-left-pad">
                        <div class="ui-g-6 ui-md-2 no-pad-top">
                            <label class="ui-g-7 label-fontsize dashboard" for="RegionName">Region Name</label>
                            <input type="text" name="RegionName" [readonly]="true" [(ngModel)]="RName" size="20"
                                pInputText style="text-transform: uppercase !important" required>
                        </div>
                        <div class="ui-g-6 ui-md-2 no-pad-top">
                            <label class="ui-g-7 label-fontsize dashboard" for="GodownName">Godown Name</label>
                            <input type="text" name="GodownName" [readonly]="true" [(ngModel)]="GName" size="20"
                                pInputText style="text-transform: uppercase !important" required>
                        </div>
                        <div class="ui-g-6 ui-md-2 no-pad-top">
                            <label class="ui-g-7 label-fontsize dashboard" for="Commodity">Commodity</label>
                            <p-dropdown #commodity name="Commodity" [options]="commodityOptions" [(ngModel)]="ITCode"
                                filterMatchMode="startsWith" (keyup.tab)="onSelect('tab')"
                                (onChange)="onSelect('change')" filter="true" (keyup.shift.tab)="onSelect('tab')"
                                resetFilterOnHide="true">
                                <ng-template let-item pTemplate="selectedItem">
                                    <span style="vertical-align:middle">{{item.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <!-- <div class="ui-g-6 ui-md-2 no-pad-top">
                            <label class="ui-g-7 label-fontsize dashboard" for="StackCard">Stack Card</label>
                            <p-dropdown #stackcard name="StackCard" [options]="godownOptions" [(ngModel)]="TStockNo"
                                filterMatchMode="startsWith" (keyup.tab)="onSelect('st', 'tab')"
                                (onClick)="onSelect('st', 'click')" filter="true"
                                (keyup.shift.tab)="onSelect('st', 'tab')" resetFilterOnHide="true">
                                <ng-template let-item pTemplate="selectedItem">
                                    <span style="vertical-align:middle">{{item.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div> -->
                    </div>
                    <div class="ui-g-12 ui-md-12 dashboard">
                        <p-table #dt [columns]="stackRunningCardCols" [value]="stackRunningCardData" [rows]="10"
                            [totalRecords]="totalRecords" [rowsPerPageOptions]="[10,20,30,40,50,100]"
                            selectionMode="single" [responsive]="true" [paginator]="true"
                            [loading]="loading">
                            <ng-template pTemplate="colgroup" let-columns>
                                <colgroup>
                                  <col *ngFor="let col of columns" [style.width]="col.width">
                                </colgroup>
                              </ng-template>
                               <ng-template pTemplate="header" let-columns>
                                <tr style="text-align: center;">
                                    <th *ngFor="let col of columns">
                                        {{col.header}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr [pSelectableRow]="rowData" (dblclick)="onRowSelect($event, rowData)">
                                    <td *ngFor="let col of columns">
                                        <div *ngIf="col.field === 'StackBalanceBags' || col.field === 'StackBalanceWeight' || col.field === 'CurYear'">
                                            <div style="text-align: end !important">
                                              {{rowData[col.field]}}
                                            </div>
                                          </div>
                                          <div *ngIf="col.field !== 'StackBalanceBags' && col.field !== 'StackBalanceWeight' && col.field !== 'CurYear'">
                                            {{rowData[col.field]}}
                                          </div>                                   
                                         </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </form>
        </div>
    </p-panel>
</div>