<app-header></app-header>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
  <app-menu *ngIf="canShowMenu"></app-menu>
  <p-panel>
    <p-header>
      <div class="ui-g panel-header">
        <div class="ui-g-4 dashboard">DETAILS OF OPENING BALANCE OF CURRENT YEAR SHORTAGE</div>
      </div>
    </p-header>
    <p-toast [style]="{background: '#FFAEAE'}" position="top-center" key="t-err"></p-toast>
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 dashboard">
        <div class="ui-g-2"></div>
        <div class="ui-g-12 ui-md-3">
          <label class="ui-g-7 label-fontsize dashboard" for="GodownName">Godown</label>
          <p-dropdown name="godownName" [options]="godownOptions" [(ngModel)]="g_cd" (onClick)="onSelect('gd')"
            filter="true" optionLabel="label" [showClear]="true" required>
            <ng-template let-item pTemplate="selectedItem">
              <span style="vertical-align:middle">{{item.label}}</span>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="form-group ui-g-12 ui-md-3">
          <label class="ui-g-7 label-fontsize dashboard" for="CommodityName">Commodity</label>
          <p-dropdown [options]="commodityOptions" [(ngModel)]="c_cd" (onClick)="onCommodityClicked()" filter="true"
            optionLabel="label" [showClear]="true" name="CommodityName" required>
            <ng-template let-item pTemplate="selectedItem">
              <span style="vertical-align:middle">{{item.label}}</span>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="form-group ui-g-12 ui-md-2">
          <label class="ui-g-7 label-fontsize dashboard" for="year">Year</label>
          <p-dropdown #y id="float-input" [options]="yearOptions" name="year" [(ngModel)]="Year"
            (onClick)="onSelect('y')" optionLabel="label" [showClear]="true" required>
          </p-dropdown>
        </div>
        <div class="ui-g-2"></div>
      </div>
      <div class="ui-g-12 dashboard">
        <div class="ui-g-2"></div>
        <div class="ui-g-12 ui-md-3 dashboard" style="text-align: center">
          <p-header>
            <div class="dashboard label-fontsize-large" style="padding-right: 50px">
              Book Balance
            </div>
          </p-header>
          <div class="form-group ui-g-6 ui-md-4">
            <label class="label-fontsize" for="BookBalanceBags">Bags</label>
            <input type="number" maxlength="11" name="BookBalanceBags" [(ngModel)]="BookBalanceBags" size="20" pInputText autocomplete="off">
          </div>
          <div class="form-group ui-g-6 ui-md-8">
            <label class="label-fontsize" for="BookBalanceWeight">Weight (Kgs)</label>
            <input type="number" name="BookBalanceWeight" [(ngModel)]="BookBalanceWeight" size="20" pInputText autocomplete="off">
          </div>
        </div>
        <div class="ui-g-12 ui-md-3 dashboard" style="text-align: center">
          <p-header>
            <div class="dashboard label-fontsize-large" style="padding-right: 50px">
              Physical Balance
            </div>
          </p-header>
          <div class="form-group ui-g-6 ui-md-4">
            <label class="label-fontsize" for="PhysicalBalanceBags">Bags</label>
            <input type="number" maxlength="6" name="PhysicalBalanceBags" [ngModel]="PhysicalBalanceBags" size="20" pInputText autocomplete="off">
          </div>
          <div class="form-group ui-g-6 ui-md-8">
            <label class="label-fontsize" for="PhysicalBalanceWeight">Weight (Kgs)</label>
            <input type="number" name="PhysicalBalanceWeight" [(ngModel)]="PhysicalBalanceWeight" size="20" pInputText autocomplete="off">
          </div>
        </div>
        <div class="form-group ui-g-12 ui-md-2" style="padding-top: 30px">
          <label class="ui-g label-fontsize" for="CummlativeShortage">Cumulitive Shortage</label>
          <input class="ui-g-6" type="number" name="CummlativeShortage" [(ngModel)]="CumulativeShortage" pInputText
            autocomplete="off">
        </div>
        <!-- <div class="ui-g-3 ui-md-1" style="padding-top: 53px">
          <button pButton type="button" label=Excel (click)="exportAsXLSX()"></button>
        </div> -->
        <div class="ui-g-2"></div>
      </div>
      <div class="ui-g-12 ">
        <div class="ui-g-5"></div>
        <div class="ui-g-12 ui-md-2 card">
          <label class="ui-g-12 label-fontsize" for="CurYear" style="text-align: center">Current Year Pv Shortages</label>
          <input type="number" (input)="CurrYear" value="CurrYear" name="CurYear" [(ngModel)]="CurYear" pInputText autocomplete="off" appDecimalDigit>
        </div>
        <div class="ui-g-5"></div>
      </div>
      <div class="ui-g-12 dashboard">
        <div class="ui-g-5"></div>
        <div class="form-group ui-g-3 ui-md-1">
          <button pButton type="submit" label=Save
            (click)="onSave()"></button>
        </div>
        <div class="form-group ui-g-3 ui-md-1">
          <button pButton type="button" [disabled]="(!Year || !g_cd)" label=View (click)="onView()"></button>
        </div>
        <div class="ui-g-5"></div>
      </div>
    </div>
  </p-panel>
</div>
<p-dialog header="Opening Balance Current Year Shortage" [contentStyle]="{'overflow':'scroll'}" [modal]="true"
  [maximizable]="true" [(visible)]="viewPane" [style]="{width: '75% !important', height: '50% !important'}">
  <div class="ui-g-12 ui-md-6">
    <label class="ui-g-6 label-fontsize-large">Commodity Name</label>
    <p-dropdown id="float-input" [options]="commodityOptions" [(ngModel)]="commodityCd" (onClick)="onCommodityClicked()"
      (onChange)="onChange($event)" filter="true" optionLabel="label" [showClear]="true" name="CommodityName" required>
      <ng-template let-item pTemplate="selectedItem">
        <span style="vertical-align:middle">{{item.label}}</span>
      </ng-template>
    </p-dropdown>
  </div>
  <div class="ui-g-12 ui-fluid">
    <p-table #table [columns]="OpeningBalanceDetailCols" [value]="OpeningBalanceDetailData" [rows]="20"
      [rowsPerPageOptions]="[10,20,30,40,50,100]" selectionMode="single" [responsive]="true" autoLayout="true"
      [paginator]="true" (onRowSelect)="onRowSelect($event)">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" style="width:80px">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="ui-g-4 ui-md-9"></div>
  <div class="ui-g-4 ui-md-1 no-right-pad">
    <button class="ui-g-10 dashboard" pButton label=OK [disabled]="disableOkButton"
      (click)="showSelectedData()"></button>
  </div>
  <div class="ui-g-4 ui-md-1">
    <button class="ui-g-10 dashboard" pButton type="button" [disabled]="!openingBalanceData" label=Excel
      (click)="exportAsXLSX()"></button>
  </div>
  <div class="ui-g-4 ui-md-1 no-left-pad">
    <button class="ui-g-10 dashboard" pButton label=Cancel (click)="viewPane = false"></button>
  </div>
</p-dialog>