<app-menu *ngIf="canShowMenu"></app-menu>
  <p-panel class="content">
    <p-header>
      <div class="panel-header">Godown Master</div>
      <div align="right">
        <p-splitButton label="Export" icon="pi pi-download" (onClick)="exportAsXLSX()" [model]="items" styleClass="ui-button-danger"></p-splitButton>
       </div>
    </p-header>
    <div style="margin-right: 300px; margin-left: 300px;">
      <p-treeTable [value]="data" [columns]="column">
        <ng-template pTemplate="header" let-columns>
            <tr [ttRow]="rowNode">
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
          <tr >
            <td *ngFor="let col of columns; let i = index">
              <p-treeTableToggler [rowNode]="rowNode" *ngIf="i==0"></p-treeTableToggler>
              {{rowData[col.field]}}
           </td>
          </tr>
        </ng-template>
      </p-treeTable>
      </div>
  </p-panel>

