/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeng/resources/themes/omega/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeflex/primeflex.css';

.body {
  margin: 0px 0px 50px 0px !important
}

.error {
  color: red !important;
  font-size: 13px;
  padding: 0px !important;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  position: relative;
}

.footer {
  clear: both;
  position: relative;
  height: 40px;
  bottom: 0;
  vertical-align: bottom;
  text-align: center !important;
  background-color: #3c8dbc !important;
}

  .footer:before {
    clear: both;
    display: block;
    height: 120px;
    min-height: 120px;
    background-color: #0073e6 !important;
  }

.main-header {
  background-color: #3c8dbc !important;
  display: inline-block !important;
  text-align: center !important;
  padding: 0px !important;
  margin: 0px !important;
  width: 100% !important;
}

  .main-header .h1 {
    padding: 5px !important;
  }

  .main-header .h3 {
    padding: 5px !important;
  }

.content {
  display: inline-block;
}

.login-icon-user {
  color: darkslateblue !important;
}

.login-panel {
  text-align: center;
  width: 300px;
  min-height: 440px;
  padding: 50px 20px 20px 0px;
  margin: 75px auto 0 auto;
  display: block;
  position: relative;
}

.login-header {
  position: absolute;
  top: 0;
  background-color: #3366cc !important;
  font-size: 20px;
}

.login .icon {
  text-align: center !important;
  display: block;
}

.header img {
  float: left;
  width: 100px;
  height: 100px;
}

.header h1 {
  position: relative;
  top: 18px;
  text-align: center;
}

.header h2 {
  position: relative;
  top: 14px;
  text-align: center;
  padding: 2px !important;
}

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.calendar {
  float: right !important;
}

.fa-grey {
  color: gray;
}

.input-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-group-addon:first-child {
  border-right: 0;
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-group-addon, .input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
  display: table-cell;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.dashboard .overview {
  padding: 0 !important;
  min-height: 140px;
  position: relative;
  margin-bottom: 0px !important;
}

  .dashboard .overview .overview-content {
    padding: 10px;
  }

    .dashboard .overview .overview-content .overview-badge {
      float: right;
      color: #757575;
    }

    .dashboard .overview .overview-content .overview-detail {
      display: block;
      font-size: 24px;
      margin-top: 5px;
    }

    .dashboard .overview .overview-content .overview-link {
      display: block;
      font-size: 15px;
      margin-top: 5px;
    }

    .dashboard .overview .overview-content .overview-title {
      font-size: 18px;
      text-align: center;
    }

  .dashboard .overview .overview-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

.dashboard .colorbox {
  padding: 0 !important;
  text-align: center;
  overflow: hidden;
  margin-bottom: 0px !important;
}

  .dashboard .colorbox.colorbox-notifications-header {
    background-color: #009933 !important;
  }

  .dashboard .colorbox.colorbox-lightBlue {
    background-color: #337ab7;
  }

  .dashboard .colorbox.colorbox-yellow {
    background-color: #f8cb00;
  }

  .dashboard .colorbox.colorbox-green {
    background-color: #4dbd74;
  }

  .dashboard .colorbox.colorbox-pink {
    background-color: #f86c6b;
  }

  .dashboard .colorbox.colorbox-gray {
    background-color: #a4b7c1;
  }

  .dashboard .colorbox.colorbox-blue {
    background-color: #63c2de;
  }

  .dashboard .colorbox.colorbox-ration-card {
    background-color: #cc66ff;
  }

  .dashboard .colorbox.colorbox-areas {
    background-color: #85adad;
  }


  .dashboard .colorbox.colorbox-icon-yellow {
    background-color: #ffd800;
    display: inline-block;
  }

  .dashboard .colorbox.colorbox-icon-lightBlue {
    background-color: #3366cc;
  }

  .dashboard .colorbox.colorbox-icon-green {
    background-color: #20c997;
  }

  .dashboard .colorbox.colorbox-icon-pink {
    background-color: #e83e8c;
  }

  .dashboard .colorbox.colorbox-icon-gray {
    background-color: #678898;
  }

  .dashboard .colorbox.colorbox-icon-blue {
    background-color: #20a8d8;
  }

  .dashboard .colorbox.colorbox-icon-ration-card {
    background-color: #8800cc;
  }

  .dashboard .colorbox.colorbox-icon-areas {
    background-color: #334d4d;
  }

  .dashboard .colorbox .colorbox-name {
    font-size: 20px;
    display: inline-block;
    width: 100%;
    margin: 4px 0 10px 0;
    color: #ffffff;
  }

  .dashboard .colorbox .colorbox-count {
    font-weight: bold;
    font-size: 24px;
    color: white;
  }

.inline-padding {
  padding: 5px;
}

.inline-margin {
  margin: 3px;
}

.panel-header {
  font-size: 16px;
  font: bold;
}
