/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeng/resources/themes/omega/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeflex/primeflex.css';

.body {
  margin: 0px 0px 50px 0px !important
}

.error {
  color: red !important;
  font-size: 13px;
  padding: 0px !important;
}

body {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.content {
  /* flex: 1 0 auto;
  position: relative; */
  display: flex;
  flex-direction: column;
  margin: 0px 25px 0px 25px;
}

.footer {
  /* clear: both;
  position: relative;
  bottom: 0;
  vertical-align: bottom;
  text-align: center !important; */
  /* margin-top: auto; */
  left: 0;
  bottom: 0;
  text-align: center !important;
  /* margin-top: 50%; */
  /* background-color: #3c8dbc !important; */
}

  .footer:host-context() {
    position: fixed;
    clear: both;
    display: block;
    height: 120px;
    min-height: 120px;
    /* background-color: #0073e6 !important; */
  }

.main-header {
 background-color: #ffffff	 !important;
  display: inline-block !important;
  text-align: center !important;
  padding: 0px !important;
  margin: 0px !important;
  width: 100% !important;
}

  .main-header .h1 {
    padding:  5px 5px 2px 5px !important;
  }

  .main-header .h3 {
    padding: 5px 5px 2px 5px !important;
  }

.content {
  display: inline-block;
}
img {
  max-width: 100%;
}

.slidecontainer {
  height:100%;
  overflow: hidden;
}

.img-container {
  position: absolute;
  opacity: 0;
  height: auto !important;
  background-size: cover;
  background-position: center;
  will-change: opacity;
  transition: opacity .3s;
  cursor: pointer;
}
.slide-button:hover, .slide-button-select {
  width: 64px !important;
  background-color: rgba(255,255,255,1) !important;
  pointer-events: none;
  transition: background-color .4s, width 4s cubic-bezier(0.190, 1.000, 0.220, 1.000) !important;
}


.slide-button {
  width: 30px;
  height: 4px;
  background-color: rgba(255,255,255,.5);
  cursor: pointer;
  position: absolute;

}

.slider {
  position: absolute;
  top: 50%;
  right: 80px;
  opacity: 1;
  min-width: 30px;

}

.slide-button-parent-container {
  position: relative;
  margin: 22px 0;
  min-height: 4px;
}

.select-box {
  min-height: 10px;
}

.text-container {

  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page-text {
  min-height: 373px;
  width: 50%;
  height: 100%;
  opacity: 0;
  font-weight: 300;
  font-size: 90px;
  color: white;
}

.selected {
  opacity: 1;
  transition: 1s;
}
.login-icon-user {
  color: darkslateblue !important;
}

.login-panel {
  text-align: center;
  width: 350px;
  min-height: 440px;
  padding: 50px 20px 20px 0px;
  border-color: -moz-linear-gradient(top, #555555, #111111);
  /* margin: 75px auto 0 auto; */
  display: block;
  position: relative;
}

.login-header {
  position: absolute;
  top: 0;
  background-color: #D0CFCF !important;
  font-size: 20px;
}

.login .icon {
  text-align: center !important;
  display: block;
}

.header img {
  float: left;
  width: 100px;
  height: 100px;
}

.header h1 {
  position: relative;
  top: 18px;
  text-align: center;
}

.header h2 {
  position: relative;
  top: 14px;
  text-align: center;
  padding: 2px !important;
}

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.calendar {
  float: right !important;
}

.fa-grey {
  color: gray;
}

.input-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-group-addon:first-child {
  border-right: 0;
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-group-addon, .input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
  display: table-cell;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.no-padding {
  padding: .2em !important;
}

.dashboard{
  padding: 0px;
}

.dashboard .overview {
  padding: 0 !important;
  min-height: 140px;
  position: relative;
  margin-bottom: 0px !important;
}

  .dashboard .overview .overview-content {
    padding: 10px;
  }

    .dashboard .overview .overview-content .overview-badge {
      float: right;
      color: #757575;
    }

    .dashboard .overview .overview-content .overview-detail {
      display: block;
      font-size: 38px;
      font-weight: bold;
      margin-top: 5px;
      float: right;
    }

    .dashboard .overview .overview-content .overview-link {
      display: block;
      font-size: 15px;
      margin-top: 5px;
    }

    .dashboard .overview .overview-content .overview-title {
      font-size: 22px;
      text-align: center;
    }

  .dashboard .overview .overview-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

.dashboard .colorbox {
  padding: 0 !important;
  text-align: center;
  overflow: hidden;
  margin-bottom: 0px !important;
}

  .dashboard .colorbox.colorbox-notifications-header {
    background-color: #82CDC0 !important;
    min-height: 50px;
    align-content: center;
    text-align: center;
    color: white;
    font-size: 22px;
    padding: 10px;
  }

  .dashboard .colorbox.colorbox-lightBlue {
    background-color: #9FDBDB;
  }

  .dashboard .colorbox.colorbox-yellow {
    background-color: #FFC264;
  }

  .dashboard .colorbox.colorbox-green {
    background-color: #4dbd74;
  }

  .dashboard .colorbox.colorbox-pink {
    background-color: #F89E89;
  }

  .dashboard .colorbox.colorbox-gray {
    background-color: #a4b7c1;
  }

  .dashboard .colorbox.colorbox-blue {
    background-color: #63c2de;
  }

  .dashboard .colorbox.colorbox-ration-card {
    background-color: #cc66ff;
  }

  .dashboard .colorbox.colorbox-areas {
    background-color: #85adad;
  }

  .dashboard .colorbox.colorbox-icon-yellow {
    background-color: #FFA824;
    display: inline-block;
  }

  .dashboard .colorbox.colorbox-icon-lightBlue {
    background-color: #79CDCD;
  }

  .dashboard .colorbox.colorbox-icon-green {
    background-color: #20c997;
  }

  .dashboard .colorbox.colorbox-icon-pink {
    background-color: #F5785A;
  }

  .dashboard .colorbox.colorbox-icon-gray {
    background-color: #678898;
  }

  .dashboard .colorbox.colorbox-icon-blue {
    background-color: #20a8d8;
  }

  .dashboard .colorbox.colorbox-icon-ration-card {
    background-color: #8800cc;
  }

  .dashboard .colorbox.colorbox-icon-areas {
    background-color: #334d4d;
  }

  .dashboard .colorbox .colorbox-name {
    font-size: 20px;
    display: inline-block;
    width: 100%;
    margin: 4px 0 10px 0;
    color: #ffffff;
  }

  .dashboard .colorbox .colorbox-count {
    font-weight: bold;
    font-size: 24px;
    color: white;
  }

.inline-padding {
  padding: 5px;
}

.inline-margin {
  margin: 3px;
}

.panel-header {
  font-size: 16px;
  font: bold;
}

ul
	{
    list-style-type: square;

	}
	li
	{
    padding:10px;
    
  }

  .ui-datatable .ui-datatable-data tr.ui-datatable-odd.ui-state-highlight {
    background-color: #D0CFCF	;
    color: #ffffff;
    border-color: #709bc0;}

  /* li:nth-child(odd) { background: lightgray; }
  li:nth-child(even) { background: lightgray; } */