
/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeng/resources/themes/omega/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeflex/primeflex.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.wheat{
src: url('assets/layout/images/login/wheat.svg');
}

.slider .indicators .indicator-item {
  background-color: #666666;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.slider .indicators .indicator-item.active {
  background-color: #ffffff;
}
.slider {
  width: 900px;
  margin: 0 auto;
}
.slider .indicators {
  bottom: 60px;
  z-index: 100;
}
.body {
  margin: 0px !important;
  font-family: Arial, Helvetica, sans-serif !important;
  background-color: #f1f8f9;
  width: -webkit-fill-available;
}

.slides {
  padding: 0 0 0 15px;
  width: 609px;
  height: 420px;
  display: block;
  margin: 0 0 0 20px;
  position: relative;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
  top: 0;
  opacity: 0;
  width: 609px;
  height: 420px;
  display: block;
  position: absolute;

  transform: scale(0);

  transition: all .7s ease-in-out;
}

.slide img {
  box-shadow: 0 1px 4px rgb(145, 142, 142), 0 0 0 1px #c4bfbf;
  width: 100%;
  height: 440px;
}

.nav label {
  width: 100px;
  height: 100%;
  display: none;
  position: absolute;

  opacity: 0;
  z-index: 9;
  cursor: pointer;

  transition: opacity .2s;

  color: #FFF;
  font-size: 55pt;
  text-align: center;
  line-height: 380px;
  font-family: "Varela Round", sans-serif;
  text-shadow: 0px 0px 15px rgb(116, 111, 111);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
  opacity: 1;

  transform: scale(1);

  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
width: 100%;
bottom: 9px;
height: 11px;
display: block;
position: absolute;
text-align: center;
}

.nav-dots .nav-dot {
top: 25px;
width: 11px;
height: 11px;
margin: 0 4px;
position: relative;
border-radius: 100%;
display: inline-block;
background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
cursor: pointer;
background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5 {
background: rgba(0, 0, 0, 0.8);
}

.error {
  color: red !important;
  font-size: 13px;
  padding: 0px !important;
}


.ui-menubar li {
  padding: 2px 10px 2px 2px;
}

.ui-menubar ul {
  margin: -7px 0px 0px 0px;
  padding: -5px 0px 0px 0px;
  list-style: none;
  padding: 0;
}
 .ui-menubar  {
  border: 2px solid #44a3ec !important;
  background: #44a3ec;
  font-weight: bolder !important;
  max-height: 40px !important;
} 
.ui-menu .ui-menuitem > .ui-menuitem-link:hover,
 .ui-menubar .ui-menuitem > .ui-menuitem-link:hover,
 .ui-tieredmenu .ui-menuitem > .ui-menuitem-link:hover,
  .ui-slidemenu .ui-menuitem > .ui-menuitem-link:hover,
 .ui-contextmenu .ui-menuitem > .ui-menuitem-link:hover,
  .ui-megamenu .ui-menuitem > .ui-menuitem-link:hover{
  background: #53aae4;

  }
.ui-menubar .ui-submenu-list{
  background: #44a3ec;
}
.ui-menuitem .ui-menuitem-link {
  color: white;
  background: #44a3ec;
}
.cursor-pointer{
  cursor: pointer !important;
}
.content {
  margin: 0px 25px 0px 25px;
}

.footer {
  position: relative;                                                                              
  left: 0;
  bottom: 0; margin-top: 4%;
  text-align: center !important;
  background-color: rgb(19, 119, 185) !important;
  font-family: Arial, Helvetica, sans-serif !important;
  color: white;
}

  .footer:host-context() {
    clear: both;
    position: relative;
    bottom: 0;
    display: block;
    height: 120px;
    min-height: 120px;
  }

.main-header {
  color: rgb(19, 119, 185) !important;
 background-color: #f1f8f9	 !important;
  padding: 0px !important;
  margin: 0px 25px 0px 15px;
  font-family: Arial, Helvetica, sans-serif !important;
}

  .main-header .h1 {
    padding:  5px 5px 2px 2px !important;
  }

  .main-header .h3 {
    padding: 5px 5px 2px 2px !important;
  }

  .carousel-indicators li {
  height: 0.01px;
  width: 0.01px;
}
.rounded-input{
border-radius: 10px;
border: 1px solid gray;
box-shadow: 0 1px 4px #c2bcbc, 0 0 0 1px #f0eaea;
}
.rounded-button {
  border-radius: 10px;
border: 1px solid rgb(157, 182, 253);
box-shadow: 0 1px 4px #c2bcbc, 0 0 0 1px #f0eaea;
}
img {
  max-width: 100%;
}

.login-icon-user {
  color: darkslateblue !important;
}
.login-outline{
  float: left !important;
  margin: 50px 0px 0px 0px !important;
}

.login-main-content{
  margin: 0px 0px 0px 0px !important;
}

.login-panel {
  text-align: center;
  border: 0px solid #fff;
box-shadow: 0 1px 4px #464141, 0 0 0 1px #949191;
  width: 350px;
  min-height: 440px;
  padding: 50px 20px 20px 0px;
  box-sizing: border-box;
  display: block;
  position: relative;
}

.login-header {
  position: absolute;
  top: 0;
  background-color: rgb(96, 184, 243) !important;
  font-size: 20px;
  color: whitesmoke;
}

.login .icon {
  text-align: center !important;
  display: block;
}

.header img {
  float: left;
  width: 100px;
  height: 100px;
}

.header h1 {
  position: relative;
  top: 18px;
  text-align: center;
}

.header h2 {
  position: relative;
  top: 14px;
  text-align: center;
  padding: 2px !important;
}

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.image-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.calendar {
  float: right !important;
}

.fa-grey {
  color: gray;
}

.input-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-group-addon:first-child {
  border-right: 0;
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-group-addon, .input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
  display: table-cell;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.no-padding {
  padding: .2em !important;
}

.search-masters {
  padding: 2px;
}

.dashboard{
  padding: 0px;
}

.icon-fa-2x {
  font-size: 1.5em !important;
}

.dashboard .overview {
  padding: 0 !important;
  position: relative;
  margin-bottom: 0px !important;
  height: 90px;
}

  .dashboard .overview .overview-content {
    padding: 10px;
  }

    .dashboard .overview .overview-content .overview-badge {
      float: right;
      color: #757575;
    }

    .dashboard .overview .overview-content .overview-detail {
      display: block;
      font-size: 24px;
      float: right;
      text-align: end;
      padding-right: 0px;
    }

    .dashboard .overview .overview-content .overview-link {
      display: block;
      font-size: 15px;
      margin-top: 5px;
    }

    .dashboard .overview .overview-content .overview-title {
      font-size: 20px;
      text-align: center;
      padding-top: 0px;
    }

  .dashboard .overview .overview-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

.dashboard .colorbox {
  padding: 0 !important;
  text-align: center;
  overflow: hidden;
  margin-bottom: 0px !important;
}

  .dashboard .colorbox.colorbox-notifications-header {
    background-color: #82CDC0 !important;
    min-height: 50px;
    align-content: center;
    text-align: center;
    color: white;
    font-size: 22px;
    padding: 10px;
  }

  .header-icons .colorbox {
    padding: 0 !important;
    text-align: center;
    overflow: hidden;
    margin-bottom: 0px !important;
  }

  .dashboard .colorbox.colorbox-lightBlue {
    background-color: #9FDBDB;
  }

  .dashboard .colorbox.colorbox-yellow {
    background-color: #FFC264;
  }

  .dashboard .colorbox.colorbox-green {
    background-color: #4dbd74;
  }

  .dashboard .colorbox.colorbox-pink {
    background-color: #F89E89;
  }

  .dashboard .colorbox.colorbox-gray {
    background-color: #a4b7c1;
  }

  .dashboard .colorbox.colorbox-blue {
    background-color: #63c2de;
  }

  .header-icons .colorbox.colorbox-blue {
    background-color: #63c2de;
  }
  .dashboard .colorbox.colorbox.colorbox-dirtyGreen {
    background-color: #C1E950;
  }

  .dashboard .colorbox.colorbox-icon-yellow {
    background-color: #FFA824;
    display: inline-block;
  }
  .dashboard .colorbox.colorbox.colorbox-icon-dirtyGreen {
    background-color: #9CCB19	;
  }

  .dashboard .colorbox.colorbox-icon-lightBlue {
    background-color: #79CDCD;
  }

  .dashboard .colorbox.colorbox-icon-green {
    background-color: #20c997;
  }

  .dashboard .colorbox.colorbox-icon-pink {
    background-color: #F5785A;
  }

  .dashboard .colorbox.colorbox-icon-gray {
    background-color: #678898;
  }

  .dashboard .colorbox.colorbox-icon-blue {
    background-color: #20a8d8;
  }

  .header-icons {
    color: #20a8d8;
  }

  .dashboard .colorbox.colorbox-icon-ration-card {
    background-color: #8800cc;
  }

  .dashboard .colorbox.colorbox-icon-areas {
    background-color: #334d4d;
  }

  .dashboard .colorbox .colorbox-name {
    font-size: 18px;
    display: inline-block;
    width: 100%;
    color: #09143e;
    padding: 0px;
  }

  .dashboard .colorbox .colorbox-count {
    font-size: 24px;
    color: #09143e;
  }

.inline-padding {
  padding: 5px;
  text-align: center;
}

.inline-margin {
  margin: 3px;
}

.panel-header {
  font-size: 16px;
  font: bold;
}

ul
	{
    list-style-type: square;

	}
	li
	{
    padding:10px;
    
  }

  .ui-datatable .ui-datatable-data tr.ui-datatable-odd.ui-state-highlight {
    background-color: #D0CFCF	;
    color: #ffffff;
    border-color: #709bc0;}